<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>펀딩 마이페이지(판매회원)</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>

<style>
    .overflow-x-auto{
        overflow-x: auto;
        display: flex;

    }
</style>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
    <!--컨테이너 로우 콜 세팅 여기까지-->
            <div class="row">
                <div class="col" style="max-width: 1em;"><!--좌측공란--></div>

                <!--메인 콜 시작-->
                <div class="col">
                    <div class="row py-2"><div class="col"><a href="./prepareRgstrPage"><i class="bi bi-arrow-left-square" style="color: black;"></i></a></div><div class="col text-end"><a href="./listPage" class="me-3"><i class="bi bi-shop" style="color: black;"></i></a><a href="../commons/mainPage"><i class="bi bi-house" style="color: black;"></i></a></div></div>
                    <div class="row border-bottom mb-1"><div class="col fw-bold" style="font-size: 1.25em;"> 마이페이지 <span style="font-size: 0.65em; color:gray">for 펀딩 등록 유저</span></div></div>
                    

                    <div class="row py-1 my-2">
                        <div class="col-3 px-0 text-center" style="font-size:1.3em;">
                            <i class="bi bi-person-circle" style="font-size:1.45em;"></i>
                        </div>
                        <div class="col px-0">
                            <div class="row">
                                <div class="col px-0" th:text="${session.sessionUser.userid}"> <span style="font-size: 0.75em; color:gray">님</span></div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col">
                            <div class="row px-0 mb-1 mx-1"><div class="col fw-bold" style="font-size: 1em;"><span><i class="bi bi-bar-chart-line-fill"></i></span> 프로젝트 관련 데이터</div></div>

                            <div class="row py-1 mx-1"><div class="col" style="font-size: 0.7em;"><i class="bi bi-calculator"></i>7일간의 데이터</div></div>
                            <div class="row border rounded mx-1 mb-1">
                                <div class="col">
                                        <div class="row py-1"><div class="col" style="font-size: 0.85em;">주문</div><div class="col fw-bold text-center" th:text="${stast.order}" style="font-size: 0.85em; color: coral;"></div>
                                        <div class="col" style="font-size: 0.85em;">찜</div><div class="col fw-bold text-center" th:text="${stast.wishlist}" style="font-size: 0.85em; color: coral;"></div></div>
                                        <div class="row py-1"><div class="col" style="font-size: 0.85em;">응원</div><div class="col text-center fw-bold" th:text="${stast.cheering}" style="font-size: 0.85em; color: coral;"></div>
                                        <div class="col" style="font-size: 0.85em;">리뷰</div><div class="col text-center fw-bold" th:text="${stast.review}" style="font-size:0.85em; color: coral;"></div></div>
                                </div>        
                            </div>

                            <div class="row py-1 mx-1"><div class="col" style="font-size: 0.7em;"><i class="bi bi-trophy"></i>진행중인 프로젝트의 목표 펀딩률</div></div>
                            <div class="row border rounded mx-1">
                                <div class="col">
                                        <div class="row py-1"><div class="col pt-1" style="font-size: 0.8em;">달성 프로젝트</div><div class="col text-center fw-bold" th:text="${stast.success}" style="font-size: 1em; color:coral;"></div></div>
                                        <div class="row py-1"><div class="col pt-1" style="font-size: 0.8em;">미달성 프로젝트</div><div class="col text-center fw-bold" th:text="${stast.fail}" style="font-size: 1em; color:coral;"></div></div>
                                </div>        
                            </div>

                        </div>
                    </div>


                    <div class="row mt-3"><div class="col fw-bold" style="font-size: 1em;">내가 등록한 펀딩상품</div></div>
                    <div class="row mb-3">
                        <div class="col py-2 px-2 overflow-x-auto" style="white-space: nowrap;">
                            <th:block th:each="listForPk : ${listForPk}">
                                <a th:href="@{./productControlPage(id = ${listForPk.product_pk})}">
                                    <div class="row" style="display: flex;">
                                        <div class="col mx-1">
                                            <div class="row"><div class="col d-grid"><img th:src="@{'/uploadFiles/'+${listForPk.title_image}}" alt="이미지 등록 필요" style="height: 10em; width: 16em;"></div></div>
                                            <div class="row" style="width: 15em;"><div class="col" style="overflow-x: hidden; color: black;" th:text="${listForPk.product_name}"></div></div>
                                        </div>
                                    </div>
                                </a>  
                            </th:block>
                        </div>
                    </div>




                    <div class="row mt-1 mb-3"><div class="col d-grid"><a href="./prepareRgstrPage" class="btn py-2 border rounded text-center fw-bold" style="width:100%;">상품 등록 하러 가기</a></div></div>

                    <div class="row mb-2 border-bottom">
                        <div class="col">
                            <div class="row"><div class="col my-2 fw-bold" style="font-size: 1em;">문의</div></div>
                            <div class="row border-bottom pb-2"><div class="col" style="font-size: 0.85em;"> <i class="i class= bi bi-envelope" style="font-size: 1.1em;"></i> 판매관련 상담</div> <div class="col-2 text-end" style="font-size:1em;"> > </div></div>
                        </div>
                    </div>

                    <div class="row mb-4 border-bottom">
                        <div class="col">
                            <div class="row"><div class="col my-2 fw-bold" style="font-size: 1em;">고객센터</div></div>
                            <div class="row border-bottom pb-2"><div class="col" style="font-size: 0.85em;"> <i class="bi bi-chat-text" style="font-size: 1.1em;"></i> 1:1 채팅 상담</div> <div class="col-2 text-end" style="font-size:1em;"> > </div></div>
                            <div class="row border-bottom py-2"><div class="col" style="font-size: 0.85em;"> <i class="bi bi-journal-bookmark" style="font-size: 1.1em;"></i> 도움말 센터</div><div class="col-2 text-end" style="font-size:1em;"> > </div></div>
                            <div class="row border-bottom py-2"><div class="col" style="font-size: 0.85em;"> <i class="bi bi-megaphone" style="font-size: 1.1em;"></i> 공지사항</div><div class="col-2 text-end" style="font-size:1em;"> > </div></div>
                            <div class="row border-bottom py-2"><div class="col" style="font-size: 0.85em;"> <i class="bi bi-wrench-adjustable" style="font-size: 1.1em;"></i> 설정</div><div class="col-2 text-end" style="font-size:1em;"> > </div></div>
                        </div>
                    </div>
                    



                


                <!--메인 콜 끝-->    
                </div>
                <div class="col" style="max-width: 1em;"><!--우측공란--></div>    
            </div>
    <!--컨테이너 로우 콜 끝-->
            </div>
        </div>
    </div>
    



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>
