<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>펀딩 마이페이지(일반회원)</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>

<body>
    <div class="container">'
        <div class="row">
            <div class="col">
    <!--컨테이너 로우 콜 세팅 여기까지-->
            <div class="row">
                <div class="col" style="max-width: 1em;"><!--좌측공란--></div>

                <!--메인 콜 시작-->
                <div class="col">   
                    <div class="row"><div class="col"> 마이페이지 for 일반유저</div></div>

                


                <!--메인 콜 끝-->    
                </div>
                <div class="col" style="max-width: 1em;"><!--우측공란--></div>    
            </div>
    <!--컨테이너 로우 콜 끝-->
            </div>
        </div>
    </div>
    



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>
