<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>상품 상세 페이지</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>

<body>
    <!--새롭게 하는-->

    <div class="container img-fluid">
        <div class="row">
            <div class="col">

                <div class="row py-3 my-2 mx-0 px-0"><div class="col py-0 fw-bold" style="font-size: 1.15em;">meongstalking</div><div class="col-1 fw-bold"><a href="../commons/mainPage"><i class="bi bi-house"></i></a></div><div class="col-1 fw-bold"><a href="./listPage"><i class="bi bi-arrow-left-square" style="color: black;"></i></a></div></div>

                <div class="row"><div class="col">카테고리 들어갈 공간</div></div>


                <div class="row"><div class="col d-grid"><img class="img-fluid px-0" th:src="@{'/uploadFiles/'+${product.detail.title_image}}" alt="등록된 이미지가 없습니다" style="width: 100%;"></div></div>
                <div class="row my-1"><div class="col"><span style="font-size: 0.85em; color: gray;"> 카테고리 ></span> <span style="color: black;">#</span></div><div class="col text-end" style="font-size: 0.85;"><i class="bi bi-share"></i></div></div>
                <div class="row mt-2 mb-2"><div class="col fw-bold" style="font-size: 1.15em;" th:text="${product.detail.product_name}"></div></div>
                <div class="row py-1 mb-2"><div class="col" style="font-size: 0.9em;" th:text="${product.detail.simple_explain}"></div> </div>
                <div class="row py-2 mb-1"><div class="col" style="font-size: 1.2em;" th:text="|${product.percent}%|"></div> <div class="col">남은 기간</div> </div>
                <div class="row py-2 mb-1"><div class="col" style="font-size: 1.2em;" th:text="|총 결제액 ${product.t_sales}원|"></div></div>
                <div class="row"><div class="col"><img th:src="@{'/uploadFiles/'+${product.detail.explain_image}}" alt="등록된 이미지가 없습니다" style="width: 100%;"></div></div>
                
                <div class="row py-2 mb-2">
                    <div class="col">
                        <div class="row"><div class="col" style="font-size: 0.75em;">업데이트 된 최근 새소식</div></div>
                        <div class="row"><div class="col py-2 mx-2 border border-2 rounded" th:text="${product.news}"></div></div>
                    </div>
                </div>

                <div class="row py-2 mb-1"><div class="col"> 상품 금액 : <span th:text="${product.detail.price}">원</span></div></div>
                <div class="row mb-4"><div class="col"th:text="|${product.count}회 구매|"></div> <div class="col"><a th:href="@{./productPurchasePage(id = ${product.detail.product_pk})}" class="btn border rounede fw-bold" style="font-size:1.2em;">구매하기</a></div> </div>
                
                <div class="row my-3">
                    <div class="col">
                        <div class="row my-1 mb-2"><div class="col-4 fw-bold border border border-start-0 border-end-0" style="font-size: 0.85em;">리뷰목록</div></div>
                        
                            <div class="row mb-2 py-1">
                                <th:block th:each="review : ${review}"> 
                                    <div class="col mx-2">
                                        <div class="row"><div class="col-6 fw-bold" style="font-size: 0.75em;" th:text="${review.user.userid}"></div><div class="col-6" style="font-size: 0.75em; color:gray;" th:text="${review.review.created_at}"></div></div>
                                        <div class="row py-2 border rounded"><div class="col-6"><img class="img-fluid px-0" th:src="@{'/uploadFiles/'+${review.review.review_image}}" alt="등록된 이미지가 없습니다" style="width: 95%;"></div><div class="col-6" th:text="${review.review.content}"></div></div>
                                    </div>
                                </th:block>
                            </div>   
                    </div>
                </div>
                <div class="row"><div class="col"></div></div>























            </div>
        </div>
    </div>
    




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>
