<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>펀딩 프로젝트 등록 정보 입력</title>

    <script>
        function imageBoxClickHandler1() {
            const imageInput = document.getElementById("imageFile1");
            imageInput.click();
        }

        function imageBoxClickHandler2() {
            const imageInput = document.getElementById("imageFile2");
            imageInput.click();
        }


        function titleCount(text,length){
        var limit = length;
        var str = text.value.length;
        if(str>limit){
            text.value = text.value.substring(0,limit);
            text.focus();
        }
        document.getElementById("titleReCount").innerHTML = text.value.length + " / " + limit;
        }

        function explainCount(text,length){
        var limit = length;
        var str = text.value.length;
        if(str>limit){
            text.value = text.value.substring(0,limit);
            text.focus();
        }
        document.getElementById("explainReCount").innerHTML = text.value.length + " / " + limit;
        }

        function componentCount(text,length){
        var limit = length;
        var str = text.value.length;
        if(str>limit){
            text.value = text.value.substring(0,limit);
            text.focus();
        }
        document.getElementById("componentReCount").innerHTML = text.value.length + " / " + limit;
        }

        function previewImage1() {
        const imageFile = document.getElementById("imageFile1");
        const imagePreview = document.getElementById("imagePreview1");

        if (imageFile.files.length === 0) {
            imagePreview.src = "";
            return;
        }
        const reader = new FileReader();
        reader.onload = function(event) {
            imagePreview.src = event.target.result;
        };
        reader.readAsDataURL(imageFile.files[0]);
        }

        function previewImage2() {
        const imageFile = document.getElementById("imageFile2");
        const imagePreview = document.getElementById("imagePreview2");

        if (imageFile.files.length === 0) {
            imagePreview.src = "";
            return;
        }

        const reader = new FileReader();
        reader.onload = function(event) {
            imagePreview.src = event.target.result;
        };
        reader.readAsDataURL(imageFile.files[0]);
        }


        function formSubmit(){
            const rgstrProduct = document.getElementById("rgstrProduct");

            const inputTitle = document.getElementById("inputTitle");
            const inputTitleRegex = /^.{5,}$/;
            if(!inputTitleRegex.test(inputTitle.value)){
                alert("펀딩 제목은 다섯 글자 이상 작성해 주세요.");
                inputTitle.focus();
                return;
            }

            const inputExplain = document.getElementById("inputExplain");
            const inputExplainRegex = /^.{40,}$/;
            if(!inputExplainRegex.test(inputExplain.value)){
                alert("간단한 설명은 40자 이상 작성해 주셔야합니다.");
                inputExplain.focus();
                return;
            }

            const imageFile1 = document.getElementById("imageFile1");
            if(!imageFile1.files.length) {
                alert("대표 이미지는 반드시 첨부해야 합니다.");
                imageFile1.focus();
                return;
            }

            const imageFile2 = document.getElementById("imageFile2");
            if(!imageFile2.files.length) {
                alert("상세 이미지는 반드시 첨부해야 합니다.");
                imageFile1.focus();
                return;
            }

            const inputStart = document.getElementById("inputStart");
            const inputFinish = document.getElementById("inputFinish");

            if (inputStart.value === "" || inputFinish.value === "") {
                alert("시작일과 종료일은 모두 입력해야 합니다.");
                return;
            }
            const startDate = new Date(inputStart.value);
            const finishDate = new Date(inputFinish.value);
            if (startDate > finishDate) {
                alert("종료일이 시작일보다 먼저 일수는 없습니다.");
                return;
            }

        
            const inputPrice = document.getElementById("inputPrice");
            if (inputPrice.value === "") {
                alert("가격을 설정해 주세요.");
                inputPrice.focus();
                return;
                }
            const price = Number(inputPrice.value);    
            if (price < 10000) {
                alert("금액은 10000원 이상이어야 합니다.");
                return;
                }

            const inputAmount = document.getElementById("inputAmount");
            if (inputAmount.value === "") {
                alert("목표금액을 입력해 주세요.");
                inputAmount.focus();
                return;
                }
            const amount = Number(inputAmount.value);    
            if(amount < 500000 || amount > 50000001){
                alert("목표 금액은 50만원 이상, 5000만원 이하로만 설정할 수 있습니다");
                inputAmount.focus();
                return;
            }

            rgstrProduct.submit();
        }




    </script>

    <style>
        body{
            font-family: 'Noto Sans KR', sans-serif;
        }

        .box-dashed {
                border-width: 0.15em;
                border-style: dashed;
                width: 98%;    
                color: gray;    
            }

        #inputAmount,#inputPrice {
            outline: none;
        }

        .offcanvas {
                min-height : 30em;
            }

    </style>
    
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>

    <div class="row"><div class="col"></div></div>


    <div class="container">
        <div class="row">
            <div class = "col px-3">
    <!--컨테이너와 초기 로우 콜 시작했던 부분 / 밑으로 작성 ㄱㄱ-->

                        <div class="row"><div class="col" style="padding: 1em;"></div></div>    

                        <div class="row mb-2"><div class="col fw-bold" style="font-size: 1.25em;">펀딩 프로젝트 등록</div></div>
                        <div class="row mb-4"><div class="col" style="font-size: 0.95em;">펀딩 프로젝트를 공개하는 데 필요한 내용을 작성해 주세요.</div></div>
                        
                        <div class="row border py-2 mx-1 mb-2">
                            <div class="col pt-1 me-1" style="font-size: 1.6em; max-width: 1em; align-self: center;"><i class="bi bi-journal-richtext"></i></div>
                            <div class="col ps-4"> 
                                <div class="row py-1"><div class="col" style="font-size: 0.8em;">프로젝트를 진행 하는 회원님들은 전부 봤다는</div></div>
                                <div class="row"><div class="col fw-bold" style="font-size: 1em;">필수 가이드 모음집</div></div>
                            </div>
                        </div>

                        <div class="row ms-1 mb-3"><div class="col" style="font-size: 0.8em; color: grey;"> 아래의 필수 항목들에 대한 입력을 시작해 주세요.</div></div>

                        <form action="./insertProductInfoProcess" id="rgstrProduct" method="post" enctype="multipart/form-data">


                            <div class="row mb-2"><div class="col">
                                
                                <div class="row"><div class="col" style="font-size: 1.05em;">프로젝트 제목 <span style="font-size: 0.5em"></span></sapn></div></div>
                                <div class="row mb-1"><div class="col" style="font-size: 0.7em; color: gray;"> 단순히 구성품 그대로를 입력하시는 것 보다는 홍보 문구를 입력하는 것이 성공적인 프로젝트의 진행에 도움이 됩니다.</div></div>
                                <div class="row"><div class="col"><input class="form-control" onkeyup="titleCount(this,150)" id="inputTitle" type="text" name="product_name"></div></div>
                                <div class="row"><div class="col"><div style="text-align: right; font-size: 0.75em;"><span id="titleReCount">0 / 150</span></div></div></div>
                            </div></div>  

                            <div class="row mb-3"><div class="col">
                                <div class="row"><div class="col" style="font-size: 1.05em;">프로젝트 구성 <span style="font-size: 0.5em"></span></sapn></div></div>
                                <div class="row mb-1"><div class="col" style="font-size: 0.7em; color: gray;"> 구성의 정확한 명칭과 수량을 적어주세요. 입력시 줄 바꿈에 유의해 주세요. 그대로 출력됩니다 </div></div>
                                <div class="row"><div class="col"><textarea type="text" name="product_component" id="productComponent" onkeyup="componentCount(this,50)" class="form-control"></textarea></div></div>
                                <div class="row"><div class="col"><div style="text-align: right; font-size: 0.75em;"><span id="componentReCount">0 / 50</span></div></div></div>
                            </div></div>

                            <div class="row mb-4"><div class="col">
                                <div class="row mb-2">
                                    <div class="col mx-3 rounded py-2" style= "background-color: #e9ecef; color: #555c65;">
                                        <div class="row mb-1"><div class="col"style="font-size: 0.9em;"><i class="bi bi-check"></i> 요약 설명 작성 팁</div></div>
                                        <div class="row"><div class="col" style="font-size: 0.8em;">중요한 키워드는 눈에 잘 띄도록 앞부분에 적어주세요. 내용이 너무 길 경우 화면에서 잘려보일 수 있습니다. 가장 중요한 내용을 앞세워 후원회원님들의 호기심을 자극해보세요.</div></div>
                                    </div>
                                </div>
                                <div class="row"><div class="col" style="font-size: 1.05em;">프로젝트 요약 설명 <span style="font-size: 0.5em"></span></sapn></div></div>
                                <div class="row mb-1"><div class="col" style="font-size: 0.7em; color: gray;"> 대표이미지와 함께 보이는 글입니다. 쉽고 간결하게 소개해 주세요 </div></div>
                                <div class="row mx-1"><textarea name="simple_explain" id="inputExplain" onkeyup="explainCount(this,450)" class="form-control"></textarea></div>
                                <div class="row"><div class="col"><div style="text-align: right; font-size: 0.75em;"><span id="explainReCount">0 / 450</span></div></div></div>
                            </div></div>
                                
                            


                            <div class="row mb-4">
                                <div class="col">

                                    <div class="row mb-2">
                                        <div class="col pb-2" style="font-size: 1.05em; align-self: center;">대표이미지 <span style="font-size: 0.7em;"><i class="bi bi-question-circle"></i></span></div>
                                        <div class="col pe-4 text-end"><button class="btn btn-sm border" style="font-size: 0.85em;" type="button" data-bs-toggle="offcanvas" data-bs-target="#previewTitle" aria-controls="offcanvasTop">미리보기</button></div>
                                        <div class="imagePlusBox pt-1" onclick=imageBoxClickHandler1()>
                                            <div class="box-dashed rounded px-1 py-3 text-center">
                                                <div class="row"><div class="col"> <i class="bi bi-card-image" style="font-size: 2.5em; color: gray;"></i> </div></div> 
                                                <div class="row"><div class="col"> <span style="font-size: 0.85em; color: gray;">같이 게시될 이미지를 선택해 주세요</span> </div></div> 
                                            </div>
                                            <input id="imageFile1" class="d-none" name="imageFile1" type="file" accept="image/*" multiple onchange="previewImage1()">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col py-2 mx-3 rounded" style="background-color: #e9ecef; color: #555c65;">
                                            <div class="row pb-1"><div class="col" style="font-size: 0.9em;">* 대표 이미지 등록 가이드</div></div>
                                            <div class="row"><div class="col" style="font-size: 0.8em;">JPG, JPEG,PNG파일만 등록가능합니다</div></div>
                                            <div class="row"><div class="col" style="font-size: 0.8em;">펀딩 프로젝트 리스트 화면과 SNS등 여러 화면에서 노출 될 사진입니다. 미리 편집해서 등록해주시기 바랍니다.</div></div>
                                        </div>
                                    </div>

                                </div>
                            </div> 

                            <div class="row mb-3">
                                <div class="col">
                                    <div class="row mb-2">
                                        <div class="col pb-2" style="font-size: 1.05em; align-self: center;">상세이미지 <span style="font-size: 0.7em;"><i class="bi bi-question-circle"></i></span></div>
                                        <div class="col pe-4 text-end"><button class="btn btn-sm border"  style="font-size: 0.85em;" type="button" data-bs-toggle="offcanvas" data-bs-target="#previewExplain" aria-controls="offcanvasTop">미리보기</button></div>
                                        <div class="imagePlusBox pt-1" onclick=imageBoxClickHandler2()>
                                            <div class="box-dashed rounded px-1 py-3 text-center">
                                                <div class="row"><div class="col"> <i class="bi bi-card-image" style="font-size: 2.5em; color: gray;"></i> </div></div> 
                                                <div class="row"><div class="col"> <span style="font-size: 0.85em; color: gray;">같이 게시될 이미지를 선택해 주세요</span> </div></div> 
                                            </div>
                                            <input id="imageFile2" name="imageFile2" class="d-none" type="file" accept="image/*" multiple onchange="previewImage2()">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col py-2 mx-3 rounded" style="background-color: #e9ecef; color:#555c65;">
                                            <div class="row pb-1"><div class="col" style="font-size: 0.9em;">* 상세 이미지 등록 가이드</div></div>
                                            <div class="row pb-1"><div class="col" style="font-size: 0.8em;">JPG, JPEG,PNG파일만 등록가능합니다</div></div>
                                            <div class="row pb-1"><div class="col" style="font-size: 0.8em;">한장의 사진에 모든 정보가 담겨야 합니다. 미리 편집해서 등록해주시기 바랍니다.</div></div>
                                        </div>
                                    </div>    
                                </div>
                            </div>
                            <div class="row"><div class="col" style="padding: 0.4em;"></div></div>  
                            <div class="row"><div class="col ms-1" style="font-size: 1.05em;"> 기간 설정</div></div>

                            <div class="row mb-3">
                                <div class="col py-2 mx-3 rounded" style="background-color: #e9ecef; color:#555c65;">
                                    <div class="row py-1"><div class="col" style="font-size: 0.9em;"> * 시작일 종료일 설정 가이드</div></div>
                                    <div class="row pb-1"><div class="col" style="font-size: 0.8em;"> 프로젝트 공개 일과 시작 일간의 간격이 너무 멀어지는 것도 추천하지 않습니다. </div></div>
                                    <div class="row pb-1"><div class="col" style="font-size: 0.8em;"> 프로젝트 공개와 시작 시간대도 설계를 정밀하게 하시는 것을 권장합니다.</div></div>
                                    <div class="row pb-1"><div class="col" style="font-size: 0.8em;"> 종료일은 오픈일 + 최대 90일 안에서 지정하는 것을 권장합니다.</div></div>
                                </div>
                            </div>    
                            
                            <div class="row mb-2"><div class="col">
                                <div class="row mb-1"><div class="col"  style="font-size: 1.05em;">시작일 설정</div></div>
                                <div class="row"><div class="col"><input type="datetime-local" class="form-control" id="inputStart" name="start_date"></div></div>
                            </div></div>

                            <div class="row mb-2"><div class="col" style="padding: 0.3em;"></div></div>  


                            <div class="row mb-4"><div class="col">
                                <div class="row mb-1"><div class="col"  style="font-size: 1.05em;">종료일 설정</div></div>
                                <div class="row"><div class="col"><input type="datetime-local" class="form-control" id="inputFinish" name="finish_date"></div></div>
                            </div></div>
                            
                            <div class="row my-2">
                                <div class="col">
                                    <div class="row"><div class="col"  style="font-size: 1.05em;">프로젝트 후원금 설정</div></div>  
                                    <div class="row mt-1 mb-2">
                                        <div class="col mx-3 py-3 border rounded">
                                            <div class="row pb-2"><div class="col" style="color: dimgray;" >후원 설계 가이드 및 주의사항</div></div>
                                            <div class="row pb-1"><div class="col-3" style="font-size: 0.85em; color: gray;">옵션조건</div><div class="col" style="font-size: 0.85em;">크기, 색상 등의 옵션 설정이 필요하면 추가하세요</div></div>        
                                            <div class="row pb-2"><div class="col-3" style="font-size: 0.85em; color: gray;">주의사항</div><div class="col" style="font-size: 0.85em;">자사몰 및 다른 채널에서 진행된 적 있는 프로젝트는 단독 구성으로 제공할 수 없어요.</div></div>        
                                            <div class="row"><div class="col" style="font-size: 0.85em; color: gray;"><i class="bi bi-question-circle"></i> 후원 금액은 얼마가 적당한가요?</div></div>        
                                            <div class="row"><div class="col ms-2" style="font-size: 0.85em;">5만원대를 기준으로 추천해요</div></div>        
                                            <div class="row"><div class="col"></div></div>        
                                            
                                        </div>
                                    </div>  
                                    <div class="row"><div class="col" style="font-size: 0.8em; color: gray;">최소 10000원 이상으로 설정해주시기 바랍니다</div></div> 
                                    <div class="row mx-1 mt-1 mb-2 py-1 border rounded"><div class="col d-grid"><input type="number" class="border border-0" id="inputPrice" name="price"></div><div class="col-2 border-start ps-0 text-center">원</div></div>
                                </div>
                            </div> 

                            <div class="row">
                                <div class="col">
                                    <div class="row"><div class="col" style="font-size: 1.05em;">목표금액 설정</div></div>    
                                    <div class="row"><div class="col"><span style="font-size: 0.8em; color: gray;">최소 50만 원 이상 ~ 최대 5000만 원 미만으로 설정해주세요</span></div></div>    
                                    <div class="row mx-1 my-2 py-1 border rounded"><div class="col d-grid"><input type="number" id="inputAmount" class="border border-0" name="amount"></div><div class="col-2 border-start ps-0 text-center">원</div></div>
                                </div>
                            </div> 

                            <div class="row my-3"><div class="col-3 px-0 ps-2 d-grid text-center"><a href="/funding/fundingSellerMyPage" class="btn border-0 rounded py-1 px-0 text-white" style="background-color: salmon; font-size: 1em;">뒤로가기</a></div> <div class="col d-grid"><input type="button" onclick="formSubmit()" value="제출하기" class="rounded py-1" style="background-color: white; font-size: 1em;"> </div></div>
                            <div class="row" style="padding: 2em;"></div> 
                        </form>

                        <div class="row"><div class="col" style="padding: 0.3em;"></div></div>  

                    </div>

    <!--container 끝부분-->            
            </div>
        </div>
    </div>

    <!--오프캔버스 두개 -->

    <!--메인 이미지-->
    <div class="offcanvas offcanvas-top" tabindex="-1" id="previewTitle" aria-labelledby="previewTitleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="previewTitleLabel">대표 이미지 미리보기</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="row mx-2">
                <div class="col d-grid border-2">
                    <img id="imagePreview1" class="img-fluid">
                </div>
            </div>
        </div>
    </div>


    <!--설명 이미지-->
    <div class="offcanvas offcanvas-top" tabindex="-1" id="previewExplain" aria-labelledby="previewExplainLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="previewExplainLabel">상세 이미지 미리보기</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="row mx-2">
                <div class="col d-grid border-2">
                    <img id="imagePreview2" class="img-fluid">
                </div>
            </div>
        </div>
    </div>


    <script src="/public/js/commons/lockLikeMobile.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>
