<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
 <!-- 카카오 SDK 스크립트 로드 -->
 
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>로그인</title>
    <script src="/public/js/commons/lockLikeMobile.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <style>
        .custom-col {
            border-right: 1px solid rgb(200, 200, 200);

        }

        .small-text {
            font-size: 9px;
        }

        .custom-text-size {
            font-size: 12px;
        }
    </style>
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>

<script>
    window.Kakao.init('3483fd0375996622def250d0027dc68f');

    function kakaoLogin() {
        window.Kakao.Auth.login({
            scope: 'profile_nickname, profile_image',
            success: function (authObj) {
                window.Kakao.API.request({
                    url: '/v2/user/me',
                    success: function(response) {
                        // 성공적으로 사용자 정보를 가져왔을 때의 처리
                        console.log(response);

                        const userInfo = {
                            code: authObj.code,
                            kakaoUserId: response.id,
                            nickname: response.properties.nickname,
                            profileImage: response.properties.profile_image,
                        };

                        fetch('./kakaoProcess', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify(userInfo),
                        })
                        .then(response => response.text())
                        .then(data => {
                            console.log(JSON.stringify(authObj, null, 2));

                            console.log(data);
                            window.location.href = '/commons/mainPage';
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
                    },
                    fail: function(error) {
                        console.error('Failed to get user info from Kakao:', error);
                    },
                });
            },
            fail: function (err) {
                console.error('Kakao login failed:', err);
            }
        });
    }
</script>


</head>

<body>
    <div class="container">

        <div class="row  my-5">

            <div class="col-8  mx-auto x-0">

                <form action="/commons/loginProcess" method="post">
                    <div class="row mt-5 text-center mb-3">
                        <div class="fw-bold fs-1 mb-4">
                            <img src="/public/image/mstar/logo3.png" class="img-fluid">
                            
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col">
                            <input class="form-control custom-text-size" type="text" name="userid" placeholder="아이디" value="psychoPATH">
                        </div>
                    </div>
                    <div class="row mt-2 text-center">
                        <div class="col">
                            <input class="form-control custom-text-size" type="password" name="userpw"
                                placeholder="비밀번호" value="aa123123">
                        </div>
                    </div>
                    <div class="row justify-content-between ">
                        <div class="col">
                            <a href="/commons/registerPage" class="small-text">회원가입</a>
                        </div>
                        <div class="col text-end">
                            <a href="" class="small-text">아이디/비밀번호 찾기</a>
                        </div>
                    </div>
                    <div class="row mt-3 text-center">
                        <div class="col d-grid">
                            <input type="submit" class="btn btn-secondary custom-text-size" value="로그인">
                        </div>
                    </div>
                </form>
                <div class="row mt-2 text-center" onclick="kakaoLogin()">
                    <img th:src="@{/public/image/kakao_login_medium_wide.png}" class="img-fluid" alt="Kakao Login">
                </div>

            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>