<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>강아지 등록</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3 text-start" style="padding-left: 1em;">
                <div style="font-size: 1.5em;"><i class="bi bi-arrow-left"></i></div>
            </div>
            <div class="col text-center" style="padding-top: 0.5em;">
                <div class="fw-bold" style="font-size: 0.9em;">반려동물 정보 입력</div>
            </div>
            <div class="col-3 text-end" style="padding-right: 1em;">
                <div style="font-size: 1.5em;"><i class="bi bi-check-lg"></i></div>
            </div>
        </div>
        <div class="row" style="height: 9em;">
            <div class="col text-center" style="padding-left: 10em; padding-right: 10em; padding-top: 2em;">
                <div style="height: 4em; width: 4em; border-width: 0; border-radius: 2em; background-color: #5C518B; opacity: 0.5;"></div>
            </div>     
        </div>

        <form action="./registerDogProcess" method="post">

        <div class="row" style="height: 3em; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #dcdcdc;">
            <div class="col-3 text-start" style="padding: 0.9em;">
                <div class="fw-bold" style="color: #5C518B; font-size: 0.8em;">이름</div>
            </div>
            <div class="col" style="padding-top: 0.7em;">
                <input name="name" type="text" placeholder="이름을 입력하세요(최대5자)" style="border-width: 0; font-size: 0.7em; width: 100%;">
            </div>
        </div>
        <div class="row" style="height: 3em; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #dcdcdc;">
            <div class="col-3 text-start" style="padding: 0.9em;">
                <div class="fw-bold" style="color: #5C518B; font-size: 0.8em;">생년월일</div>
            </div>
            <div class="col" style="padding-top: 0.7em;">
                <input name="birth" type="text" placeholder="2023-10-10 형식으로 입력해주세요." style="width: 100%; border-width: 0; font-size: 0.7em;">
            </div>
        </div>
        <div class="row" style="height: 4.8em; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #dcdcdc;">
            <div class="col-3 text-start" style="padding: 0.9em;">
                <div class="row">
                    <div class="col">
                        <div class="fw-bold" style="color: #5C518B; font-size: 0.8em;">몸무게</div>
                    </div>
                </div>
                <div class="row"></div>
            </div>
            <div class="col" style="padding-top: 0.7em;">
                <div class="row">
                    <div class="col-3">
                        <input name="weight" type="text" placeholder="예) 3.23" style="border-width: 0; font-size: 0.7em; width: 100%;">
                    </div>
                    <div class="col" style="padding-top: 0.12em;">
                        <div style="font-weight: 600; color: #5C518B; font-size: 0.9em;">kg</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="padding-top: 0.3em; padding-left: 0.9em;">
                        <span class="text-black-50" style="color: black; font-size: 0.65em;">1kg미만의 경우, 예 750g이라면</span>
                        <span class="text-body-secondary fw-bold" style="color: black; font-size: 0.65em;">0.75</span><span class="text-black-50" style="color: black; font-size: 0.65em;">로 입력</span>
                    </div>
                </div>                
                
            </div>
        </div>
        <div class="row" style="height: 3em; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #dcdcdc;">
            <div class="col-3 text-start" style="padding: 0.9em;">
                <div class="fw-bold" style="color: #5C518B; font-size: 0.8em;">성별</div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-2" style="padding-top: 0.85em;">
                        <input name="gender" type="radio" value="M">
                    </div>
                    <div class="col" style="padding-top: 0.68em;">
                        <span class="fw-bold text-secondary " style="font-size: 0.7em;">남아</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-2" style="padding-top: 0.85em;">
                        <input name="gender" type="radio" value="F">
                    </div>
                    <div class="col" style="padding-top: 0.68em;">
                        <span class="fw-bold text-secondary " style="font-size: 0.7em;">여아</span>
                    </div>
                </div>
            </div>
        </div>    
        <div class="row" style="height: 3em; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #dcdcdc;">
            <div class="col-3 text-start" style="padding: 0.9em;">
                <div class="fw-bold" style="color: #5C518B; font-size: 0.8em;">사진</div>
            </div>
            <div class="col" style="padding-top: 0.7em;">
                <input class="form-control" type="file" style="width: 100%; border-width: 0; font-size: 0.7em;">
            </div>
        </div>  
        
        <div class="row" style="height: 3em;"></div>
        <div class="row">
            <div class="col text-center">
                <input type="submit" class="fw-bold" style="background-color: #1E3269; color: white; width: 100%; font-size: 0.8em; height: 3em; border-style: none; border-radius: 0.3em;" value="가입하기">
            </div>
        </div>
        </form>


    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>