<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.psychopath.dogstalking.club.mapper.ClubSqlMapper">

    <insert id="insertFreeBoard">
        INSERT INTO ms_club_freeboard(club_pk,user_pk,title,content,img)
        VALUES (#{club_pk},#{user_pk},#{title},#{content},#{img})
    </insert>


    <select id="selectFreeBoardAll" resultType="map">
        SELECT *
        FROM ms_club_freeboard
        JOIN ms_user ON ms_user.USER_PK = ms_club_freeboard.user_pk
        WHERE ms_club_freeboard.club_pk = #{club_pk}
        ORDER BY ms_club_freeboard.created_at DESC;

    </select>

    <select id="selectImgFreeBoardAll" resultType="map">
        <!-- SELECT * FROM ms_club_imgboard
        JOIN ms_club_imgboard_imgs ON ms_club_imgboard.clubimgboard_pk = ms_club_imgboard_imgs.clubimgboard_pk
        WHERE ms_club_imgboard.club_pk=#{club_pk}; -->
        SELECT mci.*, mci_img.*
        FROM ms_club_imgboard mci
        JOIN ms_club_imgboard_imgs mci_img ON mci.clubimgboard_pk = mci_img.clubimgboard_pk
        WHERE mci.club_pk = #{club_pk}
        GROUP BY mci.clubimgboard_pk;
    </select>

    <!-- 댓글 -->

	<insert id="insertComment">
		INSERT INTO ms_club_freeboard_comment(user_pk,clubfreeboard_pk,content)
        VALUES (#{user_pk},#{clubfreeboard_pk},#{content})
        
	</insert>

    <select id="selectCommentAll" resultType="map">
    SELECT * FROM ms_club_freeboard_comment
    JOIN ms_user ON ms_user.USER_PK = ms_club_freeboard_comment.user_pk
    WHERE clubfreeboard_pk = #{clubfreeboard_pk}
    </select>

    <!-- 길드 가입 여부 -->
    <select id="applyClubUserTF" resultType="map">
    <![CDATA[
        SELECT 
    COALESCE(CASE WHEN COUNT(*) > 0 THEN 'T' ELSE 'F' END, 'F') AS user_exists,
    ms_club_user.*,
    ms_user.*,
    ms_club.*,
    ms_club_user_statuslog.*,
    ms_club.name AS clubname,
    ms_club.content AS clubcontent
    FROM 
        ms_user
    LEFT JOIN 
        ms_club_user ON ms_user.user_pk = ms_club_user.user_pk
    LEFT JOIN 
        ms_club ON ms_club.club_pk = ms_club_user.club_pk 
    left join 
        ms_club_user_statuslog on ms_club_user_statuslog.club_user_pk = ms_club_user.user_pk  
    WHERE 
        ms_club_user.user_pk = #{user_pk} 
    ]]>
    </select>


    <!--길드 개설-->
    <insert id="insertClub">
		INSERT INTO ms_club(name,content)
        VALUES (#{name},#{content})
	</insert>

    <insert id="insertClubUser">
		INSERT INTO ms_club_user(user_pk,club_pk,content)
        VALUES (#{user_pk},#{club_pk},"길드 개설자")
	</insert>

    <insert id="insertClubUsers">
		INSERT INTO ms_club_user(user_pk,club_pk,content)
        VALUES (#{user_pk},#{club_pk},#{content})
	</insert>

    <select id="checka" resultType="int">
        SELECT COALESCE(MAX(club_user_pk), 0) FROM ms_club_user
    </select>

    <select id="checkb" resultType="int">
        SELECT MAX(club_pk) FROM ms_club;
    </select>
    
    <select id="selectClubPK" resultType="int">
        SELECT ms_club_user.club_pk FROM ms_club_user WHERE user_pk = #{user_pk};
    </select>
    
    <select id="selectClubList" resultType="map">
        SELECT * FROM ms_club ORDER BY RAND()
    </select>
     
    <select id="showclubpk" resultType="map">
        SELECT 
            1 AS clubpk_ck,
            ms_club.*
        FROM ms_club 
        WHERE ms_club.club_pk = #{club_pk}
    </select>
    

    <!--회원 신청 상태-->
    <insert id="insertUserStatusLog">
        INSERT INTO ms_club_user_statuslog(club_user_pk,clubcategory_pk)
        VALUES (#{club_user_pk},#{clubcategory_pk}); 
    </insert>

    <!--개설시 리더 자동 위임-->
    <insert id="insertLeader">
        INSERT INTO ms_club_user_ranklog(club_user_pk,clubuserranklogcategory_pk)
        VALUES (#{club_user_pk},1); 
    </insert>

    <!--가입신청(미승인)
    <insert id="insertClubUserRankTwo">
        INSERT INTO ms_club_user_ranklog(club_user_pk,clubuserranklogcategory_pk)
        VALUES (#{club_user_pk},2); 
    </insert>-->

    <!--회원 등급 추가-->
    <insert id="insertClubUserRank">
        INSERT INTO ms_club_user_ranklog(club_user_pk,clubuserranklogcategory_pk)
        VALUES (#{club_user_pk},3); 
    </insert>

    <!--가입신청목록-->
    <select id="selectApplyList" resultType="map">
        SELECT 
            ms_user.*,
            ms_club_user.*,
            ms_club_user_statuslog.*,
            ms_club_user_statuslog.created_at AS applydate
        FROM ms_club_user
        LEFT JOIN ms_club_user_statuslog ON ms_club_user_statuslog.club_user_pk = ms_club_user.user_pk
        left join ms_user on ms_user.user_pk =ms_club_user.user_pk 
        WHERE ms_club_user.club_pk = #{club_pk} AND ms_club_user_statuslog.clubcategory_pk = 2
    </select>

    <!--가입 승인-->
    <update id="updateApplyClub">
        UPDATE ms_club_user_statuslog
        SET clubcategory_pk = 1
        WHERE club_user_pk = #{club_user_pk};
    </update>


    <update id="updatenotApplyClub">
        UPDATE ms_club_user_statuslog
        SET clubcategory_pk = 0
        WHERE club_user_pk = #{club_user_pk};
    </update>


    <select id="selectClubUserId" resultType="int">
        SELECT ms_club_user.club_user_pk  FROM ms_club_user WHERE user_pk = #{user_pk};
    </select>

    <!--길드 정보 수정-->
    <update id="updateClub">
        UPDATE ms_club
        SET name = #{name}, content = #{content}, img = #{img}
        WHERE club_pk = #{club_pk}; 
    </update>

    <!--길드 멤버-->
    <select id="selectMember" resultType="map">
    SELECT *
    FROM 
        ms_club_user
        JOIN ms_user ON ms_user.user_pk = ms_club_user.user_pk
        JOIN ms_club ON ms_club.club_pk = ms_club_user.club_pk 
        join ms_club_user_statuslog on ms_club_user_statuslog.club_user_pk = ms_user.user_pk
        join ms_club_user_ranklog on ms_club_user_ranklog.club_user_pk = ms_user.user_pk
        WHERE ms_club_user_statuslog.clubcategory_pk=1 and ms_club_user.club_pk=#{club_pk};
    </select>

    <!--탈퇴-->
    <update id="withdrawalClubUser">
        UPDATE ms_club_user_statuslog
            SET clubcategory_pk = 3
            WHERE club_user_pk = #{club_user_pk};
    </update>

    <update id="withdrawalClubUserLank">
        UPDATE ms_club_user_ranklog
            SET clubuserranklogcategory_pk = 0
            WHERE ms_club_user_ranklog.club_user_pk=#{club_user_pk};
    </update>

    <!--관리자 뽑아내기-->
    <select id="selectLeaderLank" resultType="Integer">
    SELECT clubuserranklogcategory_pk
        FROM ms_club_user_ranklog
        WHERE club_user_pk = #{club_user_pk}
        ORDER BY created_at DESC
        LIMIT 1;
    </select>


    <!--관리자 바꾸기-->
    <update id="updateLeader">
        UPDATE ms_club_user_ranklog
        SET clubuserranklogcategory_pk = #{clubuserranklogcategory_pk}
        WHERE club_user_pk = #{club_user_pk};
    </update>

    <!--승인 상태-->
    <select id ="selectClubCategoryPk" resultType="Integer">
        SELECT ms_club_user_statuslog.clubcategory_pk	FROM ms_club_user_statuslog WHERE ms_club_user_statuslog.club_user_pk=#{club_user_pk};
    </select>


    <!--이미지 게시판-->
    <insert id="insertClubImgFreeBoard">
        INSERT INTO ms_club_imgboard(,club_user_pk,club_pk,views)
        VALUES (#{img},#{club_user_pk},#{club_pk},0); 
    </insert>

    <insert id="insertClubImgFreeBoardImage">
        INSERT INTO ms_club_imgboard_imgs(clubimgboard_pk,location,original_filename)
        VALUES (#{clubimgboard_pk},#{location},#{original_filename});
    </insert>

    <select id="createArticlePk" resultType="int">
        SELECT COALESCE(MAX(clubimgboard_pk) + 1, 0) FROM ms_club_imgboard;  
		<!-- SELECT ms_club_imgboard.clubimgboard_pk FROM ms_club_imgboard WHERE club_pk=#{club_pk}; -->
	</select>

    <!--최신글-->
    <select id="selectLatestPost" resultType="map">
        SELECT *
        FROM ms_club_freeboard
        join ms_user on ms_user.user_pk =ms_club_freeboard.user_pk 
        WHERE ms_club_freeboard.club_pk = #{club_pk}
        ORDER BY ms_club_freeboard.created_at DESC
        LIMIT 1;
    </select>

    <!--최신앨범-->
    <select id="selectLatestAlbum" resultType="map">
        SELECT mci.*, mci_img.*
        FROM ms_club_imgboard mci
        JOIN ms_club_imgboard_imgs mci_img ON mci.clubimgboard_pk = mci_img.clubimgboard_pk
        WHERE mci.club_pk = #{club_pk}
        GROUP BY mci.clubimgboard_pk
        ORDER BY mci.created_at DESC
        LIMIT 5;
    </select>

    <select id="selectAlbumFreeBoard" resultType="map">
        SELECT mci.*, mci_img.*
        FROM ms_club_imgboard mci
        JOIN ms_club_imgboard_imgs mci_img ON mci.clubimgboard_pk = mci_img.clubimgboard_pk
        WHERE mci.club_pk = #{club_pk} and mci.clubimgboard_pk=#{clubimgboard_pk};
    </select>

    <!-- 앨범 댓글 -->

	<insert id="insertImgComment">
		INSERT INTO ms_club_imgboard_comment(club_user_pk,clubimgboard_pk,content)
        VALUES (#{club_user_pk},#{clubimgboard_pk},#{content})
	</insert>

    <select id="selectImgCommentAll" resultType="map">
        SELECT * FROM ms_club_imgboard_comment
        JOIN ms_user ON ms_user.USER_PK = ms_club_imgboard_comment.club_user_pk
        WHERE clubimgboard_pk = #{clubimgboard_pk}
    </select>

    <update id="updateImgComment">
		UPDATE ms_club_imgboard_comment SET content = #{content}
		WHERE imgcomment_pk = #{imgcomment_pk}		
	</update>
    
    <delete id="deleteImgComment">
		DELETE FROM ms_club_imgboard_comment WHERE imgcomment_pk = #{imgcomment_pk}
	</delete>
</mapper>