<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.psychopath.dogstalking.follow.mapper.FollowSqlMapper">

    <insert id="insertMoreInfo">
        insert into ms_follow_user_more(
            user_pk, height, weight, blood_type, mbti_type, hobby, drinking, smoking, preference
        ) values(#{user_pk}, #{height}, #{weight}, #{blood_type}, #{mbti_type}, #{hobby}, #{drinking}, #{smoking}, #{preference})
    </insert>

    <insert id="insertWriteTrackMarkInfo">
        insert into ms_follow_log(user_pk, image_link, content, latitude, longitude)
        values(#{user_pk}, #{image_link}, #{content}, #{latitude}, #{longitude})
    </insert>

    <insert id="insertCollectionInfo">
        insert into ms_follow_collection(user_pk, log_pk) values(#{user_pk}, #{log_pk});
    </insert>

    <insert id="insertComment">
        insert into ms_follow_comment(user_pk, log_pk, content) values(#{user_pk}, #{log_pk}, #{content})
    </insert>

    <insert id="insertLikeLogInfo">
        insert into ms_follow_like_log(
            user_pk, log_pk, latitude, longitude
        ) values(#{user_pk}, #{log_pk}, #{latitude}, #{longitude});
    </insert>

    <insert id="insertLike">
        insert into ms_follow_like(user_collector_pk, user_writer_pk) values(#{user_collector_pk}, #{user_writer_pk})
    </insert>

    <insert id="insertUserItemInfo">
        insert into ms_mFollow_use_item(user_pk, item_pk) values(#{user_pk}, #{item_pk})
    </insert>

    <insert id="sendMessage">
        insert into ms_mstar_notification(user_pk, title, message, link_path, notify_img) values(#{user_pk}, #{title} , #{message}, #{link_path}, #{notify_img})
    </insert>

    <select id="getMyTrackMarkers" resultType="map">
        SELECT mfl.latitude, mfl.longitude FROM ms_follow_log mfl
        where mfl.user_pk = #{user_pk}
        <![CDATA[
            and date(now()) - date(mfl.created_date) <= #{trackMarkerDateValidity}
        ]]>
    </select>

    <select id="getTracingTrackMarkers" resultType="map">
        SELECT mfll.log_pk, mfll.latitude, mfll.longitude, t2.*,
            (DATE_FORMAT((DATE_ADD(mfl.created_date, INTERVAL #{trackMarkerDateValidity} day)), '%Y/%m/%d %H시 %i분')) as time_limit
        FROM ms_follow_like_log mfll
        inner join ms_follow_log mfl on mfll.log_pk = mfl.log_pk
        inner join (
            SELECT t1.*, (
                CASE
                    <![CDATA[
                        when (t1.rnum / t1.max_count) <= 0.36 then 'oneStar'
                        when (t1.rnum / t1.max_count) <= 0.61 then 'twoStar'
                        when (t1.rnum / t1.max_count) <= 0.76 then 'threeStar'
                        when (t1.rnum / t1.max_count) <= 0.87 then 'fourStar'
                        when (t1.rnum / t1.max_count) <= 0.94 then 'fiveStar'
                        when (t1.rnum / t1.max_count) <= 0.994 then 'S'
                        when (t1.rnum / t1.max_count) <= 0.999 then 'SR'
                        else 'SSR'
                    ]]>
                END
            ) as star_rating
            from (
                SELECT mfum.*, RANK() over (order by (
                    (
                        SELECT COUNT(*) FROM ms_follow_collection mfc
                        inner join ms_follow_log mfl on mfc.log_pk = mfl.log_pk
                        where mfl.user_pk = mfum.user_pk
                    ) * 0.8 + (
                        SELECT COUNT(*) FROM ms_follow_comment mfc
                        inner join ms_follow_log mfl on mfc.log_pk = mfl.log_pk
                        where mfl.user_pk = mfum.user_pk
                    ) * 0.1 + (
                        SELECT COUNT(*) FROM ms_follow_like mfl
                        where user_writer_pk = mfum.user_pk
                    ) * 0.1
                )) as rnum, (
                    SELECT COUNT(*) FROM ms_follow_user_more
                ) as max_count
                FROM ms_follow_user_more mfum
            )t1
        )t2 on t2.user_pk = mfl.user_pk
        where mfll.user_pk = #{user_pk}
        and mfll.log_pk not in(
            SELECT log_pk FROM ms_follow_collection
            where user_pk = #{user_pk}
        )
        <![CDATA[
            and date(now()) - date(mfl.created_date) <= #{trackMarkerDateValidity}
        ]]>
    </select>

    <select id="isFirstTimeLeavingTrackMark" resultType="int">
        SELECT COUNT(*) FROM ms_follow_user_more
        where user_pk = #{user_pk}
    </select>

    <select id="getCurrentMyTrackMarkerCount" resultType="int">
        SELECT COUNT(*) FROM ms_follow_log
        where user_pk = #{user_pk}
        and date(created_date) = date(now())
    </select>

    <select id="isEnoughDistanceFromMyTrackMarker" resultType="int">
        SELECT COUNT(*) FROM ms_follow_log mfl
        where mfl.user_pk = #{user_pk}
        <![CDATA[
            and date(now()) - date(mfl.created_date) <= #{trackMarkerDateValidity}
            and (
                SELECT get_distance(
                    #{latitude}, #{longitude}, mfl.latitude, mfl.longitude
                ) AS distance
            ) <= #{trackMarkerEffectiveDistance}
        ]]>
    </select>

    <select id="getScanningTrackMarkers" resultType="map">
        SELECT t7.* FROM (
            SELECT t1.log_pk, t1.image_link, t1.content, t1.latitude, t1.longitude, t1.created_date,
                t3.*, IFNULL(t5.cnt, 0) as cnt, IFNULL(t5.open_rating, 1) as open_rating,
                t1.is_trace, t1.is_like, mmpi.profile_photo, mmpi.nick_name, ms.gender, t6.mstar_temp FROM (
                SELECT * FROM (
                    SELECT log_pk, user_pk, image_link, content, latitude, longitude, created_date, is_trace, is_like
                    FROM (
                        SELECT mfl.*,
                            ROW_NUMBER() OVER (PARTITION BY get_distance(#{latitude}, #{longitude}, mfl.latitude, mfl.longitude) ORDER BY RAND()) as row_num, (
                                CASE 
                                    when mfl.user_pk in (
                                        SELECT mfl2.user_pk FROM ms_follow_like_log mfll
                                        inner join ms_follow_log mfl2 on mfll.log_pk = mfl2.log_pk
                                        where mfll.user_pk = #{user_pk}
                                        and mfll.log_pk not in (
                                            SELECT mfc.log_pk FROM ms_follow_collection mfc
                                            where user_pk = #{user_pk}
                                        )
                                    )
                                    then 'Y' else 'N'
                                END
                            ) as is_trace, (
                                CASE 
                                    when user_pk in (
                                        SELECT mfl.user_writer_pk FROM ms_follow_like mfl
                                        where mfl.user_collector_pk = #{user_pk}
                                    )
                                    then 'Y' else 'N'
                                END
                            ) AS is_like
                        FROM ms_follow_log mfl
                    ) as remove_overlap_coordinate
                    WHERE row_num = 1
                )t0
                where t0.user_pk != #{user_pk}
                <![CDATA[
                    and date(now()) - date(t0.created_date) <= #{trackMarkerDateValidity}
                ]]>
                and t0.user_pk NOT IN (
                    SELECT block_user_pk FROM ms_mstar_block mmb
                    where mmb.user_pk = #{user_pk}
                )
                and t0.user_pk NOT IN (
                    SELECT user_pk FROM ms_mstar_block mmb
                    where mmb.block_user_pk = #{user_pk}
                )
                <![CDATA[
                    and (
                        SELECT get_distance(
                            #{latitude}, #{longitude}, t0.latitude, t0.longitude
                        ) AS distance
                    ) <= #{scanMarkerEffectiveDistance}
                ]]>
                and t0.log_pk NOT IN (
                    SELECT log_pk FROM ms_follow_collection mfc
                    where mfc.user_pk = #{user_pk}
                )
            )t1
            inner join (
                SELECT t2.*, (
                    CASE
                        <![CDATA[
                            when (t2.rnum / t2.max_count) <= 0.36 then 'oneStar'
                            when (t2.rnum / t2.max_count) <= 0.61 then 'twoStar'
                            when (t2.rnum / t2.max_count) <= 0.76 then 'threeStar'
                            when (t2.rnum / t2.max_count) <= 0.87 then 'fourStar'
                            when (t2.rnum / t2.max_count) <= 0.94 then 'fiveStar'
                            when (t2.rnum / t2.max_count) <= 0.994 then 'S'
                            when (t2.rnum / t2.max_count) <= 0.999 then 'SR'
                            else 'SSR'
                        ]]>
                    END
                ) as star_rating
                from (
                    SELECT mfum.*, RANK() over (order by (
                        (
                            SELECT COUNT(*) FROM ms_follow_collection mfc
                            inner join ms_follow_log mfl on mfc.log_pk = mfl.log_pk
                            where mfl.user_pk = mfum.user_pk
                        ) * 0.8 + (
                            SELECT COUNT(*) FROM ms_follow_comment mfc
                            inner join ms_follow_log mfl on mfc.log_pk = mfl.log_pk
                            where mfl.user_pk = mfum.user_pk
                        ) * 0.1 + (
                            SELECT COUNT(*) FROM ms_follow_like mfl
                            where user_writer_pk = mfum.user_pk
                        ) * 0.1
                    )) as rnum, (
                        SELECT COUNT(*) FROM ms_follow_user_more
                    ) as max_count
                    FROM ms_follow_user_more mfum
                )t2
            )t3
            on t1.user_pk = t3.user_pk
            left join (
                SELECT t4.*, (
                    CASE
                        <![CDATA[
                            when cnt >= 18 then '10'
                            when cnt >= 16 then '9'
                            when cnt >= 14 then '8'
                            when cnt >= 12 then '7'
                            when cnt >= 10 then '6'
                            when cnt >= 8 then '5'
                            when cnt >= 6 then '4'
                            when cnt >= 4 then '3'
                            when cnt >= 2 then '2'
                            else '1'
                        ]]>
                    END
                ) as open_rating FROM (
                    SELECT mfl.user_pk, COUNT(*) as cnt FROM ms_follow_collection mfc
                    inner join ms_follow_log mfl on mfc.log_pk = mfl.log_pk
                    where mfc.user_pk = #{user_pk}
                    GROUP BY mfl.user_pk
                )t4
            )t5
            on t1.user_pk = t5.user_pk
            inner join (
                SELECT user_pk, (
                    36.5 + (
                        SELECT (COUNT(*) / 10 * 0.1) as follow_temp FROM ms_mstar_follow mmf
                        where mmf.follow_user_pk = (
                            SELECT mmpi.profile_info_pk FROM ms_mstar_profile_info mmpi
                            where mmpi.user_pk = mfum.user_pk
                        )
                    )
                    + (
                        SELECT (COUNT(*) / 10 * 0.1) as article_temp FROM ms_mstar_article mma
                        WHERE mma.profile_info_pk = (
                            SELECT mmpi.profile_info_pk FROM ms_mstar_profile_info mmpi
                            where mmpi.user_pk = mfum.user_pk
                        )
                    )
                    + (
                        SELECT (COUNT(*) / 10 * 0.1) as story_temp FROM ms_mstar_story mms
                        where mms.profile_info_pk = (
                            SELECT mmpi.profile_info_pk FROM ms_mstar_profile_info mmpi
                            where mmpi.user_pk = mfum.user_pk
                        )
                    )
                    - (
                        SELECT COUNT(*) as block_temp FROM ms_mstar_block mmb
                        where mmb.block_user_pk = mfum.user_pk
                    )
                ) as mstar_temp FROM ms_follow_user_more mfum
            ) t6
            on t1.user_pk = t6.user_pk
            inner join ms_mstar_profile_info mmpi on t1.user_pk = mmpi.user_pk
            inner join ms_user ms on t1.user_pk = ms.user_pk
        )t7
        order by t7.is_trace desc, RAND()
        LIMIT #{scanMarkerUpTo}
    </select>

    <select id="getCurrentCollectTrackMarkerCount" resultType="int">
        SELECT COUNT(*) FROM ms_follow_collection
        where user_pk = #{user_pk}
        and date(created_date) = date(now())
    </select>

    <select id="getLikeList" resultType="map">
        SELECT t7.* FROM (
            SELECT t1.like_pk, t3.*, IFNULL(t5.cnt, 0) as cnt, IFNULL(t5.open_rating, 1) as open_rating,
                t1.is_trace, mmpi.profile_photo, mmpi.nick_name, mu.gender, t6.mstar_temp FROM (
                SELECT mfl.like_pk, mfl.user_writer_pk, (
                    CASE 
                        when mfl.user_writer_pk in (
                            SELECT mfl2.user_pk FROM ms_follow_like_log mfll
                            inner join ms_follow_log mfl2 on mfll.log_pk = mfl2.log_pk
                            where mfll.user_pk = #{user_pk}
                            and mfll.log_pk not in (
                                SELECT mfc.log_pk FROM ms_follow_collection mfc
                                where user_pk = #{user_pk}
                            )
                            <![CDATA[
                                and date(now()) - date(mfl2.created_date) <= #{trackMarkerDateValidity}
                            ]]>
                        )
                        then 'Y' else 'N'
                    END
                ) as is_trace FROM ms_follow_like mfl
                where mfl.user_collector_pk = #{user_pk}
            )t1
            inner join (
                SELECT t2.*, (
                    CASE
                        <![CDATA[
                            when (t2.rnum / t2.max_count) <= 0.36 then 'oneStar'
                            when (t2.rnum / t2.max_count) <= 0.61 then 'twoStar'
                            when (t2.rnum / t2.max_count) <= 0.76 then 'threeStar'
                            when (t2.rnum / t2.max_count) <= 0.87 then 'fourStar'
                            when (t2.rnum / t2.max_count) <= 0.94 then 'fiveStar'
                            when (t2.rnum / t2.max_count) <= 0.994 then 'S'
                            when (t2.rnum / t2.max_count) <= 0.999 then 'SR'
                            else 'SSR'
                        ]]>
                    END
                ) as star_rating
                from (
                    SELECT mfum.*, RANK() over (order by (
                        (
                            SELECT COUNT(*) FROM ms_follow_collection mfc
                            inner join ms_follow_log mfl on mfc.log_pk = mfl.log_pk
                            where mfl.user_pk = mfum.user_pk
                        ) * 0.8 + (
                            SELECT COUNT(*) FROM ms_follow_comment mfc
                            inner join ms_follow_log mfl on mfc.log_pk = mfl.log_pk
                            where mfl.user_pk = mfum.user_pk
                        ) * 0.1 + (
                            SELECT COUNT(*) FROM ms_follow_like mfl
                            where user_writer_pk = mfum.user_pk
                        ) * 0.1
                    )) as rnum, (
                        SELECT COUNT(*) FROM ms_follow_user_more
                    ) as max_count
                    FROM ms_follow_user_more mfum
                )t2
            )t3
            on t1.user_writer_pk = t3.user_pk
            left join (
                SELECT t4.*, (
                    CASE
                        <![CDATA[
                            when cnt >= 18 then '10'
                            when cnt >= 16 then '9'
                            when cnt >= 14 then '8'
                            when cnt >= 12 then '7'
                            when cnt >= 10 then '6'
                            when cnt >= 8 then '5'
                            when cnt >= 6 then '4'
                            when cnt >= 4 then '3'
                            when cnt >= 2 then '2'
                            else '1'
                        ]]>
                    END
                ) as open_rating FROM (
                    SELECT mfl.user_pk, COUNT(*) as cnt FROM ms_follow_collection mfc
                    inner join ms_follow_log mfl on mfc.log_pk = mfl.log_pk
                    where mfc.user_pk = #{user_pk}
                    GROUP BY mfl.user_pk
                )t4
            )t5
            on t1.user_writer_pk = t5.user_pk
            inner join (
                SELECT user_pk, (
                    36.5 + (
                        SELECT (COUNT(*) / 10 * 0.1) as follow_temp FROM ms_mstar_follow mmf
                        where mmf.follow_user_pk = (
                            SELECT mmpi.profile_info_pk FROM ms_mstar_profile_info mmpi
                            where mmpi.user_pk = mfum.user_pk
                        )
                    )
                    + (
                        SELECT (COUNT(*) / 10 * 0.1) as article_temp FROM ms_mstar_article mma
                        WHERE mma.profile_info_pk = (
                            SELECT mmpi.profile_info_pk FROM ms_mstar_profile_info mmpi
                            where mmpi.user_pk = mfum.user_pk
                        )
                    )
                    + (
                        SELECT (COUNT(*) / 10 * 0.1) as story_temp FROM ms_mstar_story mms
                        where mms.profile_info_pk = (
                            SELECT mmpi.profile_info_pk FROM ms_mstar_profile_info mmpi
                            where mmpi.user_pk = mfum.user_pk
                        )
                    )
                    - (
                        SELECT COUNT(*) as block_temp FROM ms_mstar_block mmb
                        where mmb.block_user_pk = mfum.user_pk
                    )
                ) as mstar_temp FROM ms_follow_user_more mfum
            ) t6
            on t1.user_writer_pk = t6.user_pk
            inner join ms_mstar_profile_info mmpi on t1.user_writer_pk = mmpi.user_pk
            inner join ms_user mu on t1.user_writer_pk = mu.user_pk
        )t7
        order by t7.is_trace desc,
            t7.cnt desc,
            field('star_rating', 'SSR', 'SR', 'S', 'fiveStar', 'fourStar', 'threeStar', 'twoStar', 'oneStar'),
            t7.nick_name
    </select>

    <select id="getClosestTrackMarker" resultType="map">
        SELECT t1.log_pk, t1.latitude, t1.longitude, MIN(t1.distance) FROM (
            SELECT *, get_distance(#{latitude}, #{longitude}, latitude, longitude) as distance,
                ROW_NUMBER() OVER (PARTITION BY get_distance(#{latitude}, #{longitude}, latitude, longitude) ORDER BY RAND()) as rnum
            FROM ms_follow_log
            where user_pk = #{user_writer_pk}
            <![CDATA[
                and date(now()) - date(created_date) <= #{trackMarkerDateValidity}
            ]]>
            and log_pk not in(
                SELECT log_pk FROM ms_follow_collection
                where user_pk = #{user_pk}
            )
        )t1
        where t1.rnum = 1
    </select>

    <select id="isLike" resultType="int">
        SELECT COUNT(*) FROM ms_follow_like
        where user_collector_pk = #{user_collector_pk}
        and user_writer_pk = #{user_writer_pk}
    </select>

    <delete id="deleteLike">
        DELETE FROM ms_follow_like
        where user_collector_pk = #{user_collector_pk}
        and user_writer_pk = #{user_writer_pk}
    </delete>

    <select id="getCollectionList" resultType="map">
        SELECT t1.collect_count, t1.open_rating, t3.star_rating,
            mmpi.profile_photo, mmpi.nick_name, mu.gender, t4.*, (
            CASE 
                when t1.user_pk in (
                    SELECT mfl.user_writer_pk FROM ms_follow_like mfl
                    where mfl.user_collector_pk = #{user_pk}
                )
                then 'Y' else 'N'
            END
        ) as is_like, (
            SELECT COUNT(*) from ms_follow_like mfl2
            where mfl2.user_collector_pk = #{user_pk}
        ) as like_cnt FROM (
            SELECT mfl.user_pk, count(*) as collect_count, (
                CASE
                    <![CDATA[
                        when count(*) >= 18 then '10'
                        when count(*) >= 16 then '9'
                        when count(*) >= 14 then '8'
                        when count(*) >= 12 then '7'
                        when count(*) >= 10 then '6'
                        when count(*) >= 8 then '5'
                        when count(*) >= 6 then '4'
                        when count(*) >= 4 then '3'
                        when count(*) >= 2 then '2'
                        else '1'
                    ]]>
                END
            ) as open_rating FROM ms_follow_collection mfc
            inner join ms_follow_log mfl on mfc.log_pk = mfl.log_pk
            where mfc.user_pk = #{user_pk}
            GROUP BY mfl.user_pk
        )t1
        inner join (
            SELECT t2.user_pk, (
                CASE
                    <![CDATA[
                        when (t2.rnum / t2.max_count) <= 0.36 then 'oneStar'
                        when (t2.rnum / t2.max_count) <= 0.61 then 'twoStar'
                        when (t2.rnum / t2.max_count) <= 0.76 then 'threeStar'
                        when (t2.rnum / t2.max_count) <= 0.87 then 'fourStar'
                        when (t2.rnum / t2.max_count) <= 0.94 then 'fiveStar'
                        when (t2.rnum / t2.max_count) <= 0.994 then 'S'
                        when (t2.rnum / t2.max_count) <= 0.999 then 'SR'
                        else 'SSR'
                    ]]>
                END
            ) as star_rating
            from (
                SELECT mfum.*, RANK() over (order by (
                    (
                        SELECT COUNT(*) FROM ms_follow_collection mfc
                        inner join ms_follow_log mfl on mfc.log_pk = mfl.log_pk
                        where mfl.user_pk = mfum.user_pk
                    ) * 0.8 + (
                        SELECT COUNT(*) FROM ms_follow_comment mfc
                        inner join ms_follow_log mfl on mfc.log_pk = mfl.log_pk
                        where mfl.user_pk = mfum.user_pk
                    ) * 0.1 + (
                        SELECT COUNT(*) FROM ms_follow_like mfl
                        where user_writer_pk = mfum.user_pk
                    ) * 0.1
                )) as rnum, (
                    SELECT COUNT(*) FROM ms_follow_user_more
                ) as max_count
                FROM ms_follow_user_more mfum
            )t2
        )t3 on t1.user_pk = t3.user_pk
        inner join (
            SELECT mfum2.*, (
                36.5 + (
                    SELECT (COUNT(*) / 10 * 0.1) as follow_temp FROM ms_mstar_follow mmf
                    where mmf.follow_user_pk = (
                        SELECT mmpi.profile_info_pk FROM ms_mstar_profile_info mmpi
                        where mmpi.user_pk = mfum2.user_pk
                    )
                )
                + (
                    SELECT (COUNT(*) / 10 * 0.1) as article_temp FROM ms_mstar_article mma
                    WHERE mma.profile_info_pk = (
                        SELECT mmpi.profile_info_pk FROM ms_mstar_profile_info mmpi
                        where mmpi.user_pk = mfum2.user_pk
                    )
                )
                + (
                    SELECT (COUNT(*) / 10 * 0.1) as story_temp FROM ms_mstar_story mms
                    where mms.profile_info_pk = (
                        SELECT mmpi.profile_info_pk FROM ms_mstar_profile_info mmpi
                        where mmpi.user_pk = mfum2.user_pk
                    )
                )
                - (
                    SELECT COUNT(*) as block_temp FROM ms_mstar_block mmb
                    where mmb.block_user_pk = mfum2.user_pk
                )
            ) as mstar_temp FROM ms_follow_user_more mfum2
        )t4
        on t1.user_pk = t4.user_pk
        inner join ms_mstar_profile_info mmpi on t1.user_pk = mmpi.user_pk
        inner join ms_user mu on t1.user_pk = mu.user_pk
    </select>

    <select id="getCollectionLogList" resultType="map">
        SELECT mfl.log_pk, mfl.user_pk, mfl.image_link, mfl.content, DATE_FORMAT(mfl.created_date, '%Y.%m.%d') as created_date, (
            CASE
                when mfl.log_pk in (
                    SELECT mfc.log_pk FROM ms_follow_collection mfc
                    where mfc.user_pk = #{user_pk}
                )
                then 'Y' else 'N'
            END
        ) as is_collect, (
            SELECT COUNT(*) from ms_follow_collection mfc2
            where mfc2.log_pk = mfl.log_pk
        ) as collect_cnt, (
            SELECT COUNT(*) from ms_follow_comment mfc3
            where mfc3.log_pk = mfl.log_pk
        ) as comment_cnt, (
            SELECT COUNT(*) from ms_follow_like_log mfll
            where mfll.log_pk = mfl.log_pk
            <![CDATA[
                and (
                    SELECT COUNT(*) from ms_follow_collection mfc4
                    where mfll.user_pk = mfc4.user_pk
                    and mfll.log_pk = mfc4.log_pk
                ) > 0
            ]]>
        ) as trace_cnt, (
            CASE
                <![CDATA[
                    when (
                        SELECT COUNT(*) from ms_follow_collection mfc5
                        inner join ms_follow_log mfl2 on mfc5.log_pk = mfl2.log_pk
                        where mfc5.log_pk = mfl.log_pk
                        and date(now()) - date(mfl2.created_date) > #{trackMarkerDateValidity}
                    ) >= 20 then 'common'
                    when (
                        SELECT COUNT(*) from ms_follow_collection mfc5
                        inner join ms_follow_log mfl2 on mfc5.log_pk = mfl2.log_pk
                        where mfc5.log_pk = mfl.log_pk
                        and date(now()) - date(mfl2.created_date) > #{trackMarkerDateValidity}
                    ) >= 10 then 'rare'
                    else 'legend'
                ]]>
            END
        ) as card_rating, IFNULL(
            (
                SELECT DATE_FORMAT(mfc6.created_date, '%Y.%m.%d') from ms_follow_collection mfc6
                where mfc6.log_pk = mfl.log_pk
                and mfc6.user_pk = #{user_pk}
            ), 'null'
        )  as collect_date FROM ms_follow_log mfl
        where mfl.user_pk = #{user_writer_pk}
    </select>

    <select id="getCommentList" resultType="map">
        SELECT mfc.content, DATE_FORMAT(mfc.created_date, "%Y.%m.%d") as created_date FROM ms_follow_comment mfc
        where mfc.log_pk = #{log_pk}
    </select>

    <select id="getPermanentItemLv" resultType="map">
        SELECT mmfi.item_pk, (
            SELECT COUNT(mmfoi.quantity) FROM ms_mFollow_order_item mmfoi
            where mmfoi.item_pk = mmfi.item_pk
            and mmfoi.user_pk = #{user_pk}
        ) as item_cnt FROM ms_mFollow_item mmfi
        where mmfi.item_category = 1
    </select>

    <select id="getPlusTrackMarker" resultType="int">
        SELECT mfl.log_pk FROM ms_follow_log mfl
        where mfl.user_pk = #{user_writer_pk}
        and mfl.log_pk not in(
            SELECT mfc.log_pk FROM ms_follow_collection mfc
            where mfc.user_pk = #{user_pk}
        )
        order by RAND()
        LIMIT 1
    </select>

    <select id="getItemCount" resultType="map">
        SELECT mmfi.item_pk, (
            SELECT COUNT(mmfoi.quantity) FROM ms_mFollow_order_item mmfoi
            where mmfoi.user_pk = #{user_pk}
            AND mmfoi.item_pk = mmfi.item_pk
        )
        -
        (
            SELECT COUNT(*) FROM ms_mFollow_use_item mmfui
            WHERE mmfui.user_pk = #{user_pk}
            AND mmfui.item_pk = mmfi.item_pk
        ) as item_cnt FROM ms_mFollow_item mmfi
        where mmfi.item_pk BETWEEN 5 AND 8
    </select>

    <select id="getMyPageInfo" resultType="map">
        SELECT mfum.*, (
            SELECT mu.gender FROM ms_user mu
            where mu.user_pk = #{user_pk}
        ) as gender, (
            SELECT mmpi.profile_photo from ms_mstar_profile_info mmpi
            where mmpi.user_pk = #{user_pk}
        ) as profile_photo , (
            SELECT mmpi.nick_name from ms_mstar_profile_info mmpi
            where mmpi.user_pk = #{user_pk}
        ) as nick_name, (
            36.5 + (
                SELECT (COUNT(*) / 10 * 0.1) as follow_temp FROM ms_mstar_follow mmf
                where mmf.follow_user_pk = (
                    SELECT mmpi.profile_info_pk FROM ms_mstar_profile_info mmpi
                    where mmpi.user_pk = mfum.user_pk
                )
            )
            + (
                SELECT (COUNT(*) / 10 * 0.1) as article_temp FROM ms_mstar_article mma
                WHERE mma.profile_info_pk = (
                    SELECT mmpi.profile_info_pk FROM ms_mstar_profile_info mmpi
                    where mmpi.user_pk = mfum.user_pk
                )
            )
            + (
                SELECT (COUNT(*) / 10 * 0.1) as story_temp FROM ms_mstar_story mms
                where mms.profile_info_pk = (
                    SELECT mmpi.profile_info_pk FROM ms_mstar_profile_info mmpi
                    where mmpi.user_pk = mfum.user_pk
                )
            )
            - (
                SELECT COUNT(*) as block_temp FROM ms_mstar_block mmb
                where mmb.block_user_pk = mfum.user_pk
            )
        ) as mstar_temp, (
            SELECT COUNT(*) FROM ms_follow_like_log mfll
            inner join ms_follow_log mfl on mfll.log_pk = mfl.log_pk
            where mfl.user_pk = #{user_pk}
            <![CDATA[
                and (
                    SELECT COUNT(*) from ms_follow_collection mfc
                    where mfc.user_pk = mfll.user_pk
                    and mfc.log_pk = mfll.log_pk
                ) > 0
            ]]>
        ) as sombody_trace_cnt, (
            SELECT COUNT(*) from ms_follow_collection mfc2
            inner join ms_follow_log mfl2 on mfc2.log_pk = mfl2.log_pk
            where mfl2.user_pk = #{user_pk}
        ) as sombody_collect_cnt, (
            SELECT COUNT(*) from ms_follow_like mfl3
            where mfl3.user_writer_pk = #{user_pk}
        ) as sombody_like_cnt, (
            SELECT COUNT(*) from ms_follow_comment mfc3
            inner join ms_follow_log mfl4 on mfc3.log_pk = mfl4.log_pk
            where mfl4.user_pk = #{user_pk}
        ) as sombody_comment_cnt, (
            SELECT COUNT(*) from ms_follow_like_log mfll2
            where mfll2.user_pk = #{user_pk}
            and mfll2.log_pk in (
                SELECT mfc4.log_pk FROM ms_follow_collection mfc4
                where mfc4.user_pk = #{user_pk}
            )
        ) as my_trace_cnt, (
            SELECT COUNT(*) from ms_follow_collection mfc5
            where mfc5.user_pk = #{user_pk}
        ) as my_collect_cnt, (
            SELECT COUNT(*) from ms_follow_like mfl5
            where mfl5.user_collector_pk = #{user_pk}
        ) as my_like_cnt, (
            SELECT COUNT(*) from ms_follow_comment mfc6
            where mfc6.user_pk = #{user_pk}
        ) as my_comment_cnt, (
            SELECT COUNT(*) from ms_follow_log mfl6
            where mfl6.user_pk = #{user_pk}
        ) as my_track_cnt, (
            SELECT (
                CASE
                    <![CDATA[
                        when (t2.rnum / t2.max_count) <= 0.36 then 'oneStar'
                        when (t2.rnum / t2.max_count) <= 0.61 then 'twoStar'
                        when (t2.rnum / t2.max_count) <= 0.76 then 'threeStar'
                        when (t2.rnum / t2.max_count) <= 0.87 then 'fourStar'
                        when (t2.rnum / t2.max_count) <= 0.94 then 'fiveStar'
                        when (t2.rnum / t2.max_count) <= 0.994 then 'S'
                        when (t2.rnum / t2.max_count) <= 0.999 then 'SR'
                        else 'SSR'
                    ]]>
                END
            ) as star_rating
            from (
                SELECT mfum.*, RANK() over (order by (
                    (
                        SELECT COUNT(*) FROM ms_follow_collection mfc
                        inner join ms_follow_log mfl on mfc.log_pk = mfl.log_pk
                        where mfl.user_pk = mfum.user_pk
                        GROUP BY mfl.user_pk
                    ) * 0.8 + (
                        SELECT COUNT(*) FROM ms_follow_comment mfc
                        inner join ms_follow_log mfl on mfc.log_pk = mfl.log_pk
                        where mfl.user_pk = mfum.user_pk
                        GROUP BY mfl.user_pk
                    ) * 0.1 + (
                        SELECT COUNT(*) FROM ms_follow_like mfl
                        where user_writer_pk = mfum.user_pk
                        GROUP BY mfl.user_writer_pk		
                    ) * 0.1
                ) desc) as rnum, (
                    SELECT COUNT(*) FROM ms_follow_user_more
                ) as max_count
                FROM ms_follow_user_more mfum
            )t2
            where t2.user_pk = #{user_pk}
        ) as star_rating FROM ms_follow_user_more mfum
        where mfum.user_pk = #{user_pk}
    </select>

    <select id="getMyTrackMarkersInfo" resultType="map">
        SELECT mfl.log_pk, mfl.image_link, mfl.content, DATE_FORMAT(mfl.created_date, '%Y.%m.%d') as created_date, (
            SELECT COUNT(*) from ms_follow_log mfl3
            where mfl3.user_pk = #{user_pk}
        ) as my_track_cnt, (
            SELECT COUNT(*) from ms_follow_collection mfc2
            where mfc2.log_pk = mfl.log_pk
        ) as collect_cnt, (
            SELECT COUNT(*) from ms_follow_comment mfc3
            where mfc3.log_pk = mfl.log_pk
        ) as comment_cnt, (
            SELECT COUNT(*) from ms_follow_like_log mfll
            where mfll.log_pk = mfl.log_pk
            <![CDATA[
                and (
                    SELECT COUNT(*) from ms_follow_collection mfc4
                    where mfll.user_pk = mfc4.user_pk
                    and mfll.log_pk = mfc4.log_pk
                ) > 0
            ]]>
        ) as trace_cnt, (
            CASE
                <![CDATA[
                    when (
                        SELECT COUNT(*) from ms_follow_collection mfc5
                        inner join ms_follow_log mfl2 on mfc5.log_pk = mfl2.log_pk
                        where mfc5.log_pk = mfl.log_pk
                        and date(now()) - date(mfl2.created_date) > #{trackMarkerDateValidity}
                    ) >= 20 then 'common'
                    when (
                        SELECT COUNT(*) from ms_follow_collection mfc5
                        inner join ms_follow_log mfl2 on mfc5.log_pk = mfl2.log_pk
                        where mfc5.log_pk = mfl.log_pk
                        and date(now()) - date(mfl2.created_date) > #{trackMarkerDateValidity}
                    ) >= 10 then 'rare'
                    else 'legend'
                ]]>
            END
        ) as card_rating FROM ms_follow_log mfl
        where mfl.user_pk = #{user_pk}
    </select>

    <select id="getTracingTrackMarkerLogPk" resultType="int">
        SELECT mfll.log_pk FROM ms_follow_like_log mfll
        inner join ms_follow_log mfl on mfll.log_pk = mfl.log_pk
        where mfll.user_pk = #{user_pk}
        and mfl.user_pk = #{user_writer_pk}
        LIMIT 1
    </select>

    <!-- <select id="" resultType=""></select> -->

</mapper>