<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.psychopath.dogstalking.commons.mapper.DogSqlMapper">

    <insert id="insertDog">
        insert into 
        ms_dog(userpk, name, birth, weight, gender, image, isNeutering, breed)
        values
        (
            #{userpk},
            #{name},
            #{birth},
            #{weight},
            #{gender},
            #{image},
            #{isNeutering},
            #{breed}
        )
	</insert> 

    <select id="getDogList" resultType="com.psychopath.dogstalking.dto.DogDto">
        select * from ms_dog
        where userpk=#{userPk}
    </select>
	

</mapper>