<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.psychopath.dogstalking.commons.mapper.DogSqlMapper">

    <insert id="insertDog">
        insert into 
        ms_dog(userpk, name, birth, weight, gender, image)
        values
        (
            #{userpk},
            #{name},
            #{birth},
            #{weight},
            #{gender},
            'imagelink'
        )
	</insert> 


	

</mapper>