<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.psychopath.dogstalking.commons.mapper.UserSqlMapper">

    <insert id="insertUser">
		INSERT INTO ms_user(userid, userpw, name, gender, email, phone, birthdate, image) VALUES (
			#{userid}, #{userpw}, #{name}, #{gender}, #{email}, #{phone}, #{birthdate}, 'imagelink'
		)
	</insert> 

	<select id="selectByUserIdAndPassword" resultType="com.psychopath.dogstalking.dto.UserDto">
		SELECT * FROM ms_user 
		WHERE userid = #{userid} 
		AND userpw = #{userpw}
	</select>

	<select id="selectUserPk" resultType="int">
		SELECT max(user_pk) from ms_user
	</select>
	

</mapper>