<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.psychopath.dogstalking.funding.mapper.FundingSqlMapper">

<insert id="insertProductInfo">
    insert into ms_funding_product(
        user_pk,
        product_component,
        product_name,
        simple_explain,
        title_image,
        explain_image,
        start_date,
        finish_date,
        price,
        amount
    ) values (
        #{user_pk},
        #{product_component},
        #{product_name},
        #{simple_explain},
        #{title_image},
        #{explain_image},
        #{start_date},
        #{finish_date},
        #{price},
        #{amount}
    )
</insert>

<select id="fundingListCall" resultType="com.psychopath.dogstalking.funding.dto.FundingProductDto">
    select * from ms_funding_product 
    where finish_date &gt; now()
    order by product_pk desc
</select>

<select id="fundingListCallForPk" resultType="com.psychopath.dogstalking.funding.dto.FundingProductDto">
    select * from ms_funding_product
    where user_pk = #{user_pk}
</select>

<select id="selectUserInfo" resultType="com.psychopath.dogstalking.dto.UserDto">
    select * from ms_user where user_pk = #{user_pk}
</select>

<select id="selectProductInfo" resultType="com.psychopath.dogstalking.funding.dto.FundingProductDto">
    select * from ms_funding_product
    where product_pk = #{product_pk}
</select>


<insert id="insertNews">
    insert into ms_funding_news(
        product_pk,
        content,
        news_image
    )values(
        #{product_pk},
        #{content},
        #{news_image}
    )
</insert>

<insert id="insertCheering">
    insert into ms_funding_cheering (
        user_pk,
        product_pk,
        content,
        cheering_image
    )values(
        #{user_pk},
        #{product_pk},
        #{content},
        #{cheering_image}
    );
</insert>

<select id="selectCheering" resultType="com.psychopath.dogstalking.funding.dto.FundingCheeringDto">
select * from ms_funding_cheering mfc 
where product_pk = #{product_pk} order by created_at DESC 
</select>

<select id="countFinishDay" resultType="int">
    select DATEDIFF(finish_date,now()) from ms_funding_product 
    where product_pk=#{product_pk}
</select>

<select id="totalSales" resultType="int">
    select
    IFNULL((select sum(quantity) from ms_funding_order mfo where product_pk =#{product_pk})*price,0) 
    from ms_funding_product mfp where mfp.product_pk=#{product_pk};
</select>

<select id="countMyWish" resultType="int">
    select count(*) from ms_funding_wishlist 
    where product_pk = #{product_pk}
    AND user_pk= #{user_pk}
</select>

<insert id="insertWish">
    insert into ms_funding_wishlist (
        product_pk,
        user_pk
    )values(
        #{product_pk},
        #{user_pk}
    )
</insert>

<delete id="deleteWish">
    DELETE FROM ms_funding_wishlist
    where product_pk= #{product_pk}
    AND user_pk= #{user_pk}
</delete>


<select id="countWish" resultType="int">
    select IFNULL(count(*),0) from ms_funding_wishlist mfw 
    where user_pk = #{user_pk}
</select>

<select id="selectWishList" resultType="com.psychopath.dogstalking.funding.dto.FundingWishlistDto">
    select * from ms_funding_wishlist mfw 
    where user_pk = #{user_pk}
</select>


<select id="selectNewsForDetail" resultType="String">
    select COALESCE(content,'새소식이 아직 없습니다') from ms_funding_news 
    where product_pk = #{product_pk}
    order by news_pk DESC 
    LIMIT 1
</select>

<select id="selectNewsById" resultType="com.psychopath.dogstalking.funding.dto.FundingNewsDto">
    select * from ms_funding_news 
    where product_pk = #{product_pk}
</select>

<select id="countNewsByPk" resultType="int">
    select count(*) from ms_funding_news
    where product_pk = #{product_pk}
</select>

<select id="countPercentByPk" resultType="int">
    SELECT
        IFNULL(
                TRUNCATE(((SELECT sum(quantity) FROM ms_funding_order mfo WHERE product_pk = #{product_pk}) * price) / (SELECT amount FROM ms_funding_product mfp WHERE product_pk = #{product_pk}) * 100, 0),0
            ) AS result
    FROM ms_funding_product mfp
    WHERE mfp.product_pk = #{product_pk}
</select>

<insert id="insertOrder">
    insert into ms_funding_order(
        product_pk,
        user_pk,
        quantity,
        order_date
    ) values(
        #{product_pk},
        #{user_pk},
        #{quantity},
        now()
    );
</insert>

<select id="totalPayment" resultType="int">
    select IFNULL(price*
    (select quantity from ms_funding_order mfo
    where order_pk= #{order_pk}),0) 
    from ms_funding_product mfp 
    where product_pk = #{product_pk}
</select>

<update id="updateOrderDate">
    UPDATE ms_funding_order
    SET order_date = now()
    WHERE order_pk = #{order_pk }    
    and user_pk  = #{user_pk}
</update>

<select id="selectOrderList" resultType="com.psychopath.dogstalking.funding.dto.FundingOrderDto">
    select * from ms_funding_order mfo 
    where user_pk = #{user_pk}
</select>

<select id="countOrder" resultType="int">
    select IFNULL(count(*),0) from ms_funding_order mfo 
    where user_pk = #{user_pk}
</select>

<select id="countPurchase" resultType="int">
    select count(*) from ms_funding_order mfo 
    where product_pk = #{product_pk}
</select>



<select id="selectOrderByOrderPk" resultType="com.psychopath.dogstalking.funding.dto.FundingOrderDto">
    select * from ms_funding_order mfo 
    where order_pk = #{order_pk}
</select>

<insert id = "insertReview">
    insert into ms_funding_review(
        order_pk,
        user_pk,
        product_pk,
        content,
        review_image
    ) values(
        #{order_pk},
        #{user_pk},
        #{product_pk},
        #{content},
        #{review_image}
    )
</insert>

<select id="selectReview" resultType="com.psychopath.dogstalking.funding.dto.FundingReviewDto">
    select * from ms_funding_review mfr 
    WHERE product_pk = #{product_pk}
</select>

<select id="selectOrderCount" resultType="int">
    select count(*) from ms_funding_review
    where order_pk = #{order_pk}
</select>

<select id="selectOrderStatsDay" resultType="int">
    select count(*) 
    from ms_funding_order mfo 
    where product_pk in(
        select product_pk  from ms_funding_product mfp 
        where user_pk = #{user_pk})
    and mfo.created_at &gt;= CURRENT_TIMESTAMP - INTERVAL 7 DAY;
</select>

<select id="selectCheeringStatsDay" resultType="int">
    select count(*) from ms_funding_cheering mfc 
    where product_pk in 
    (select product_pk  from ms_funding_product mfp 
    where user_pk = #{user_pk})
    and mfc.created_at &gt;= CURRENT_TIMESTAMP - INTERVAL 7 DAY;
</select>

<select id="selectWishlistStatsDay" resultType="int">
    select count(*) from ms_funding_wishlist mfw 
    where product_pk in
    (select product_pk  from ms_funding_product mfp 
    where user_pk = #{user_pk})
    and mfw.created_at &gt;= CURRENT_TIMESTAMP - INTERVAL 7 DAY;
</select>

<select id="selectReviewStatsDay" resultType="int">
    select count(*) from ms_funding_wishlist mfw 
    where product_pk in
    (select product_pk  from ms_funding_product mfp 
    where user_pk = #{user_pk})
    and mfw.created_at &gt;= CURRENT_TIMESTAMP - INTERVAL 7 DAY;
</select>

<select id="selectCountSuccessGoal" resultType="int">
select 
		count(*) as count
	from (
		select 
			mfp.product_pk,
			mfp.amount -sum(mfo.quantity * mfp.price) as result
		from ms_funding_product mfp 
		inner join ms_funding_order mfo on mfp.product_pk = mfo.product_pk 
		where mfp.product_pk IN (
			select mfp.product_pk  from ms_funding_product mfp 
			where user_pk = #{user_pk}
		)
		group by product_pk 
		having result &lt; 0
	) as t
</select>

<select id="selectCountFailGoal" resultType="int">
    select 
            count(*) as count
        from (
            select 
                mfp.product_pk,
                mfp.amount -sum(mfo.quantity * mfp.price) as result
            from ms_funding_product mfp 
            inner join ms_funding_order mfo on mfp.product_pk = mfo.product_pk 
            where mfp.product_pk IN (
                select mfp.product_pk  from ms_funding_product mfp 
                where user_pk = #{user_pk}
            )
            group by product_pk 
            having result &gt;= 0
        ) as t;
</select>

<select id="countCheeringByPk" resultType="int">
    select count(*) from ms_funding_cheering
    where product_pk = #{product_pk}
</select>

    <select id="selectFundingMainList" result="map">
        <![CDATA[
        SELECT *
        FROM ms_funding_product
        WHERE start_date <= CURRENT_DATE
        AND finish_date >= CURRENT_DATE
        ORDER BY RAND();
        ]]>
    </select>


</mapper>