<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const form = document.getElementById('mbtiForm');
            const questions = form.querySelectorAll('.question');

            form.addEventListener('click', function (event) {
                if (event.target.classList.contains('nextBtn')) {
                    const currentQuestion = event.target.closest('.question');
                    const nextQuestionId = event.target.getAttribute('data-next');
                    const nextQuestion = form.querySelector(`#${nextQuestionId}`);

                    const selectedOption = currentQuestion.querySelector('input:checked');

                    if (selectedOption) {
                        currentQuestion.style.display = 'none';
                        nextQuestion.style.display = 'block';

                        if (nextQuestionId === 'question3') {
                            document.querySelector('button[type="submit"]').style.display = 'block';
                        }
                    } else {
                        alert('문항을 선택해주세요.'); 
                    }
                }
            });
        });
    </script>


</head>

<body>



    <div class="container" style="background-color: rgb(250, 250, 250); height: 100vh;">

        <div class="row justify-content-center align-items-center" style="background-color: #ffffff;">
            <div class="col text-center py-3" style="font-weight: bold; border-bottom: 2px solid #bcbcbc;">종합 건강체크</div>
        </div>

        <form id="mbtiForm">
            <div class="mb-3 question" id="question1" >
                <div class="text-center pt-5">
                    <img src="../public/image/diagnosis/skin.png" alt="There are no registered images"
                        style="max-width: 50px; max-height: 50px;">
                    <h5 style="font-weight: bold; margin-bottom: 10px;">피부</h5><br>
                </div>

                <div class="row text-center">
                    <div class="form-label text-center"
                        style="font-weight: bold; text-align: center; font-size: 1.2em;">자주
                        나타나는 행동이나 습관을 <br>선택해주세요.</div>
                </div>
                <div class="row p-3 ms-1">
                    <div class="form-check pt-2" style="margin-bottom: 10px;">
                        <input class="form-check-input" type="radio" name="question1" id="q1a" value="a1">
                        <label class="form-check-label" for="q1a">피부에 딱지나 뾰루지, 각질이 생겨요.</label>
                    </div>
                    <div class="form-check pt-2" style="margin-bottom: 10px;">
                        <input class="form-check-input" type="radio" name="question1" id="q1b" value="a2">
                        <label class="form-check-label" for="q1b">자주 가려워하는 편이에요.</label>
                    </div>
                    <div class="form-check pt-2" style="margin-bottom: 10px;">
                        <input class="form-check-input" type="radio" name="question1" id="q1c" value="a3">
                        <label class="form-check-label" for="q1c">귀지가 많은 편이고 귀를 자주 긁어요.</label>
                    </div>
                    <div class="form-check pt-2" style="margin-bottom: 10px;">
                        <input class="form-check-input" type="radio" name="question1" id="q1d" value="a4">
                        <label class="form-check-label" for="q1d">발 끝을 수시로 핥거나 깨물어요.</label>
                    </div>
                    <div class="form-check pt-2" style="margin-bottom: 10px;">
                        <input class="form-check-input" type="radio" name="question1" id="q1e" value="a5">
                        <label class="form-check-label" for="q1e">없어요.</label>
                    </div>
                </div>
                <div class="row">
                    <button type="button" class="btn btn-primary nextBtn" data-next="question2"
                        style="background-color: #007bff; color: #ffffff; border: none; padding: 10px 0; width: 100%; border-radius: 5px; cursor: pointer; position: fixed; bottom: 0;">다음</button>
                </div>
            </div>

            <div class="mb-3 question" id="question2"
                style="display: none; ">
                <div class="text-center pt-5">
                    <img src="../public/image/diagnosis/tooth.png" alt="There are no registered images"
                        style="max-width: 50px; max-height: 50px;">
                    <h5 style="font-weight: bold; margin-bottom: 10px;">치아</h5><br>
                </div>
                <div class="row text-center">
                    <div class="form-label text-center"
                        style="font-weight: bold; text-align: center; font-size: 1.2em;">자주
                        나타나는 행동이나 습관을<br>선택해주세요.
                    </div>
                </div>
                <div class="row p-3 ms-1">
                    <div class="form-check pt-2" style="margin-bottom: 10px;">
                        <input class="form-check-input" type="radio" name="question2" id="q2a" value="b1">
                        <label class="form-check-label" for="q2a">양치질을 아파하는 것 같아요.</label>
                    </div>
                    <div class="form-check pt-2" style="margin-bottom: 10px;">
                        <input class="form-check-input" type="radio" name="question2" id="q2b" value="b2">
                        <label class="form-check-label" for="q2b">이빨 색이 누렇게 보여요.</label>
                    </div>
                    <div class="form-check pt-2" style="margin-bottom: 10px;">
                        <input class="form-check-input" type="radio" name="question2" id="q2c" value="b3">
                        <label class="form-check-label" for="q2c">갈수록 입냄새가 심해져요.</label>
                    </div>
                    <div class="form-check pt-2" style="margin-bottom: 10px;">
                        <input class="form-check-input" type="radio" name="question2" id="q2d" value="b4">
                        <label class="form-check-label" for="q2d">사료나 간식을 흘리면서 먹어요.</label>
                    </div>
                    <div class="form-check pt-2" style="margin-bottom: 10px;">
                        <input class="form-check-input" type="radio" name="question2" id="q2e" value="b5">
                        <label class="form-check-label" for="q2e">없어요.</label>
                    </div>
                </div>
                <div class="row">
                    <button type="button" class="btn btn-primary nextBtn" data-next="question3"
                        style="background-color: #007bff; color: #ffffff; border: none; padding: 15px 0; width: 100%; border-radius: 5px; cursor: pointer; position: fixed; bottom: 0;">다음</button>
                </div>
            </div>

            <div class="mb-3 question" id="question3"
                style="display: none; ">
                <div class="text-center pt-5">
                    <img src="../public/image/diagnosis/bone.png" alt="There are no registered images"
                        style="max-width: 50px; max-height: 50px;">
                    <h5 style="font-weight: bold; margin-bottom: 10px;">뼈/관절</h5><br>
                </div>
                <div class="row text-center">
                    <div class="form-label text-center"
                        style="font-weight: bold; text-align: center; font-size: 1.2em;">자주
                        나타나는 행동이나 습관을<br>선택해주세요.
                    </div>
                </div>
                <div class="row p-3 ms-1">
                    <div class="form-check pt-2" style="margin-bottom: 10px;">
                        <input class="form-check-input" type="radio" name="question2" id="q3a" value="c1">
                        <label class="form-check-label" for="q3a">
                            다리에서 뚝뚝거리는 느낌을 받은 적이 있어요.</label>
                    </div>
                    <div class="form-check pt-2" style="margin-bottom: 10px;">
                        <input class="form-check-input" type="radio" name="question2" id="q3b" value="c2">
                        <label class="form-check-label" for="q3b">
                            예전처럼 활발하게 뛰어놀지 못해요.</label>
                    </div>
                    <div class="form-check pt-2" style="margin-bottom: 10px;">
                        <input class="form-check-input" type="radio" name="question2" id="q3c" value="c3">
                        <label class="form-check-label" for="q3c">
                            걷는 모습이 어딘지 모르게 불편해보여요.</label>
                    </div>
                    <div class="form-check pt-2" style="margin-bottom: 10px;">
                        <input class="form-check-input" type="radio" name="question2" id="q3d" value="c4">
                        <label class="form-check-label" for="q3d">
                            이유없이 아파하거나 몸을 떠는 경우가 있어요.</label>
                    </div>
                    <div class="form-check pt-2" style="margin-bottom: 10px;">
                        <input class="form-check-input" type="radio" name="question2" id="q3e" value="c5">
                        <label class="form-check-label" for="q3e">없어요.</label>
                    </div>
                </div>
                <div class="row">
                    <button type="button" class="btn btn-primary nextBtn" data-next="question3"
                        style="background-color: #007bff; color: #ffffff; border: none; padding: 15px 0; width: 100%; border-radius: 5px; cursor: pointer; position: fixed; bottom: 0;">다음</button>
                </div>
            </div>

        </form>
    </div>

</body>

</html>