<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.psychopath.dogstalking.mstar.mapper.MstarSqlMapper">
   <!--회원가입시 자동 프로필 저장-->
    <insert id="insertCommonInfo">
        INSERT into ms_mstar_profile_info(user_pk, profile_photo)
        values(
            #{user_pk}, #{profile_photo}
        )
    </insert>
    <!--회원가입시 유저 pk값 추출-->
    <select id="selectCount" resultType="int">
        SELECT max(user_pk) from ms_user
    </select>
    <!--프로필 인서트 후 pk값 추출(닉네임 랜덤값 부여용))-->
    <select id="selectMaxProfilePk" resultType="int">
        SELECT max(profile_info_pk) from ms_mstar_profile_info
    </select>
    <!--프로필Pk 값으로 초기 닉네임 업데이트-->
    <update id="updateFirstNickName">
        UPDATE ms_mstar_profile_info
        SET nick_name = #{nick_name}
        where profile_info_pk = #{profile_info_pk}
    </update>
    <!--유저 차단-->
    <insert id="insertBlockDto">
    INSERT into ms_mstar_block(user_pk, block_user_pk)
    values(
        #{user_pk}, #{block_user_pk}
    )
    </insert>
    <!--차단 해제-->
    <delete id="deleteUserBlock">
        DELETE from ms_mstar_block
        where user_pk = #{user_pk}
        and block_user_pk= #{block_user_pk}
    </delete>
    <!--차단 여부 확인-->
    <select id="selectBlockStatus" resultType="int">
        SELECT count(*) from ms_mstar_block
        where user_pk = #{user_pk}
        and block_user_pk = #{block_user_pk}
    </select>
    <!--유저 즐겨찾기-->
    <insert id="insertBookMarkDto">
    INSERT into ms_mstar_bookmark(bkm_user_pk, rcv_user_pk)
    values(
        #{bkm_user_pk}, #{rcv_user_pk}
    )
    </insert>
    <!--즐겨찾기 해제-->
    <delete id="deleteUserBookMark">
        DELETE from ms_mstar_bookmark
        where bkm_user_pk = #{bkm_user_pk}
        and rcv_user_pk= #{rcv_user_pk}
    </delete>
    <!--즐겨찾기 여부 확인-->
    <select id="selectBookMarkStatus" resultType="int">
        SELECT count(*) from ms_mstar_bookmark
        where bkm_user_pk = #{bkm_user_pk}
        and rcv_user_pk = #{rcv_user_pk}
    </select>

    <!--유저 프로필 DTO -->
    <select id="selectProfileInfoDto" resultType="com.psychopath.dogstalking.mstar.dto.ProfileInfoDto">
        SELECT * from ms_mstar_profile_info
        where user_pk = #{user_pk}
    </select>
    <select id="selectProfileInfoDtoByPIP" resultType="com.psychopath.dogstalking.mstar.dto.ProfileInfoDto">
        SELECT * from ms_mstar_profile_info
        where profile_info_pk = #{profile_info_pk}
    </select>
    <!--유저 기본정보-->
    <select id="selectUserDto" resultType="com.psychopath.dogstalking.dto.UserDto">
        SELECT * from ms_user
        where user_pk = #{user_pk}
    </select>
    <select id="selectUserDtoByPIP" resultType="com.psychopath.dogstalking.dto.UserDto">
        SELECT * FROM ms_user
        where user_pk = (SELECT user_pk from ms_mstar_profile_info
        where profile_info_pk = #{profile_info_pk})
    </select>
    
    <!--게시물 카운트 -->
    <select id="selectArticleCount" resultType="int">
        SELECT count(*) from ms_mstar_article
        where profile_info_pk = #{user_info_pk}
    </select>
    <!--팔로우 카운트 -->
    <select id="selectFollowCount" resultType="int">
        SELECT count(*) from ms_mstar_follow
        where follow_user_pk = #{user_info_pk}
    </select>
    <!--팔로잉 카운트 -->
    <select id="selectFollowingCount" resultType="int">
        SELECT count(*) from ms_mstar_follow
        where following_user_pk = #{user_info_pk}
    </select>
    <!--유저 프로필 업데이트-->
    <update id="updateProfileInfoDto">
        UPDATE ms_mstar_profile_info
        SET nick_name = #{nick_name},
            profile_photo = #{profile_photo},
            status_message = #{status_message}
        where profile_info_pk  = (
                SELECT profile_info_pk from ms_mstar_profile_info
                where user_pk  = #{user_pk})
    </update>
    <!--게시물 인서트 -->
    <insert id="insertArticle">
        INSERT into ms_mstar_article(profile_info_pk, content, emotion)
        values(#{profile_info_pk}, #{content}, #{emotion})
    </insert>
    <!--게시물 pk값 가지고 오기-->
    <select id="selectMaxArticlePk" resultType="int">
        select Max(article_pk) from ms_mstar_article
    </select>
    <select id="selectMaxArticlePhotoPk" resultType="int">
        select Max(art_photo_pk) from ms_mstar_art_photo
    </select>
     <insert id="insertArticleTag">
        INSERT into ms_mstar_tag(tag_info_pk, art_photo_pk, x_coordinates, y_coordinates)
        values(#{tag_info_pk} , #{art_photo_pk}, #{x_coordinates}, #{y_coordinates})
    </insert>
    <select id="selectArticleTagList" resultType="com.psychopath.dogstalking.mstar.dto.ArticleTagDto">
        select * from ms_mstar_tag
        where art_photo_pk = #{art_photo_pk}
    </select>
    <!--게시물 사진리스트 인서트-->
     <insert id="insertArticlePhoto">
        INSERT into ms_mstar_art_photo(article_pk, photo_path ,view_order)
        values(#{article_pk} , #{photo_path} , #{view_order})
    </insert>
    <!--게시물 스크랩-->
    <insert id="insertArticleScrap">
        INSERT into ms_mstar_article_scrap(article_pk, profile_info_pk)
        values(#{article_pk}, #{profile_info_pk})
    </insert>
    <!--게시물 스크랩 취소-->
    <delete id="deleteArticleScrap">
        DELETE from ms_mstar_article_scrap
        where article_pk = #{article_pk}
        and profile_info_pk= #{profile_info_pk}
    </delete>
    <!--게시물 스크랩 여부-->
    <select id="selectScrapStatus" resultType="int">
        SELECT count(*) from ms_mstar_article_scrap
        where profile_info_pk = #{profile_info_pk}
        and article_pk = #{article_pk}
    </select>
    <!--스크랩한 게시물 리스트-->
    <select id="selectMyScrapArticleDtoList" resultType="com.psychopath.dogstalking.mstar.dto.ArticleDto">
        SELECT * from ms_mstar_article
        where article_pk in (SELECT article_pk from ms_mstar_article_scrap
        where profile_info_pk = #{profile_info_pk})
    </select>
    
    <!--프로필 페이지 내 게시물 리스트 셀렉트-->
    <select id="selectMyArticleDtoList" resultType="com.psychopath.dogstalking.mstar.dto.ArticleDto">
        SELECT * from ms_mstar_article
        where profile_info_pk = #{profile_info_pk}
    </select>
    <!--아티클Dto로 사진리스트 셀렉트-->
    <select id="selectArticlePhotoList" resultType="com.psychopath.dogstalking.mstar.dto.ArtPhotoDto">
        SELECT * from ms_mstar_art_photo
        where article_pk  = #{article_pk}
        order by view_order
    </select>
    <!--스토리 저장소 리스트 출력-->
    <select id="selectStoryStorageList" resultType="com.psychopath.dogstalking.mstar.dto.StorageDto">
        SELECT * from ms_mstar_storage
        where profile_info_pk = #{profile_info_pk}
    </select>
    <!--하이라이트 인서트-->
    <insert id="insertStoryStroageDto">
        INSERT into ms_mstar_storage(profile_info_pk, storage_name, storage_img)
        values(#{profile_info_pk} , #{storage_name}, #{storage_img})
    </insert>
    <!--하이라이트 pk값 추출-->
    <select id="selectStoragePk" resultType="int">
        SELECT MAX(storage_pk) from ms_mstar_storage
    </select>
    <!--하이라이트에 스토리 저장-->
    <insert id="insertSaveStory">
        INSERT into ms_mstar_save_story(story_pk, storage_pk)
        values(#{story_pk}, #{storage_pk})
    </insert>
    <!--하이라이트 스토리 리스트-->
    <select id="selectStorageStoryList" resultType="com.psychopath.dogstalking.mstar.dto.StoryDto">
        SELECT * from ms_mstar_story
        where story_pk in (SELECT story_pk from ms_mstar_save_story
        where storage_pk = #{storage_pk})
    </select>
    <!--스토리지 정보-->
    <select id="selectStorageDto" resultType="com.psychopath.dogstalking.mstar.dto.StorageDto">
        SELECT * from ms_mstar_storage
        where storage_pk = #{storage_pk}
    </select>
    <!--스토리 인서트-->
    <insert id="insertStoryDto">
        INSERT into ms_mstar_story(profile_info_pk, story_photo, story_text, x_coordinates, y_coordinates, text_color, background_color)
        values(#{profile_info_pk}, #{story_photo}, #{story_text}, #{x_coordinates}, #{y_coordinates}, #{text_color}, #{background_color})
    </insert>
    <!-- 스토리가 있는 사람들 리스트 가지고 오기< 바꿔야한다~~> -->
    <select id="selectStoryList" resultType="int">
        SELECT DISTINCT(profile_info_pk) from ms_mstar_story
        where profile_info_pk != #{profile_info_pk}
    </select>
    <!--유저의 스토리 < 이것도 바꿔야한다...-->
    <select id="selectUserStoryList" resultType="com.psychopath.dogstalking.mstar.dto.StoryDto">
        SELECT * from ms_mstar_story
        where profile_info_pk  = #{profile_info_pk}
    </select>
    <!--활성화 된 내 스토리(위랑 똑같음 근데 내꺼용)-->
    <select id="selectMyStoryList" resultType="com.psychopath.dogstalking.mstar.dto.StoryDto">
        SELECT * from ms_mstar_story
        where profile_info_pk  = #{profile_info_pk}
    </select>
    <!---->
    <select id="selectStoryCount" resultType="int">
        SELECT count(*) from ms_mstar_story
        where profile_info_pk = #{profile_info_pk}
    </select>
    <!--스토리DTO-->
    <select id="selectStoryDto" resultType="com.psychopath.dogstalking.mstar.dto.StoryDto">
        SELECT * from ms_mstar_story
        where story_pk = #{story_pk}
    </select>
    <!--스토리 읽은사람(작성자)-->
    <select id="selectStoryViewCount" resultType="int">
        SELECT count(*) from ms_mstar_view_story
        where story_pk = #{story_pk}
    </select>
    <!--뷰 스토리 인서트-->
    <insert id="insertViewStoryDto">
        INSERT INTO ms_mstar_view_story(story_pk, profile_info_pk)
        values(#{story_pk}, #{profile_info_pk})
    </insert>
    <!-- 뷰 스토리 체크-->
    <select id="checkStoryViewStatus" resultType="int">
        select count(*) from ms_mstar_view_story
        where story_pk = #{story_pk}
        and profile_info_pk = #{profile_info_pk}
    </select>
    
    <!-- 스토리 읽은 사람들 리스트-->
    <select id="selectStoryViewProfileInfo" resultType="com.psychopath.dogstalking.mstar.dto.ProfileInfoDto">
        SELECT * from ms_mstar_profile_info
        WHERE  profile_info_pk in (SELECT profile_info_pk  from ms_mstar_view_story
        where story_pk = #{story_pk})
    </select>
    <!--게시글 리스트 출력 (조건없는 더미용)-->
    <select id="selectArticleList" resultType="com.psychopath.dogstalking.mstar.dto.ArticleDto">
        SELECT * from ms_mstar_article
    </select>
    <!--프로필 사진 클릭시 나오는 페이지-->
    <select id="selectProfileArticleList" resultType="com.psychopath.dogstalking.mstar.dto.ArticleDto">
        SELECT * from ms_mstar_article
        where profile_info_pk = #{profile_info_pk}
    </select>
    <!--팔로우 인서트-->
     <insert id="insertUserFollowing">
        INSERT into ms_mstar_follow(follow_user_pk, following_user_pk)
        values(#{follow_user_pk}, #{following_user_pk})
    </insert>
    <!--언팔로우-->
    <delete id="deleteUserFollowing">
        DELETE from ms_mstar_follow
        where follow_user_pk = #{follow_user_pk}
        and following_user_pk= #{following_user_pk}
    </delete>
    
    <!--팔로우 체크-->
    <select id="checkFollowStatus" resultType="int">
        SELECT count(*) from ms_mstar_follow
        where following_user_pk = #{following_user_pk}
        and follow_user_pk = #{follow_user_pk}
    </select>
     <select id="checkFollowingStatus" resultType="int">
        SELECT count(*) from ms_mstar_follow
        where following_user_pk = #{following_user_pk}
        and follow_user_pk = #{follow_user_pk}
    </select>
    
    <!--나를 제외한 팔로잉 프로필 리스트-->
    <select id="selectFollowingUserList" resultType="com.psychopath.dogstalking.dto.UserDto">
        SELECT  * from ms_user
        where user_pk in (
                SELECT user_pk from ms_mstar_profile_info
                WHERE profile_info_pk in (
                    SELECT following_user_pk  from ms_mstar_follow
                    where follow_user_pk = #{follow_user_pk}
                    and following_user_pk != #{following_user_pk}))
        and userid like CONCAT(#{searchText} ,"%")
    </select>
    <!--내가 팔로잉 프로필 리스트-->
    <select id="selectMyFollowingList" resultType="com.psychopath.dogstalking.dto.UserDto">
        SELECT  * from ms_user
        where user_pk in (
                SELECT user_pk from ms_mstar_profile_info
                WHERE profile_info_pk in (
                    SELECT follow_user_pk  from ms_mstar_follow
                    where following_user_pk = #{profile_info_pk}))
        and userid like CONCAT(#{searchText} ,"%")
    </select>
    <!--나를 팔로우 프로필 리스트-->
     <select id="selectMyFollowList" resultType="com.psychopath.dogstalking.dto.UserDto">
        SELECT  * from ms_user
        where user_pk in (
            SELECT user_pk from ms_mstar_profile_info
            WHERE profile_info_pk in (
                SELECT following_user_pk  from ms_mstar_follow
                where follow_user_pk = #{profile_info_pk}))
        and userid like CONCAT(#{searchText} ,"%")
    </select>
    <!--나를 제외한 팔로우 프로필 리스트-->
    <select id="selectFollowUserList" resultType="com.psychopath.dogstalking.dto.UserDto">
        SELECT  * from ms_user
        where user_pk in (
            SELECT user_pk from ms_mstar_profile_info
            WHERE profile_info_pk in (
                SELECT follow_user_pk  from ms_mstar_follow
                where following_user_pk = #{following_user_pk}
                and follow_user_pk != #{follow_user_pk}))
        and userid like CONCAT(#{searchText} ,"%")
    </select>
    <!--함께 팔로잉 프로필 리스트-->
    <select id="selectFollowFollowingUserList" resultType="com.psychopath.dogstalking.dto.UserDto">
        SELECT * from ms_user
        WHERE user_pk  in (SELECT user_pk from ms_mstar_profile_info
        where profile_info_pk in (SELECT following_user_pk from ms_mstar_follow
                where follow_user_pk = #{another_info_pk}
                and following_user_pk in (
                    SELECT follow_user_pk from ms_mstar_follow
                    where following_user_pk = #{profile_info_pk}
                    )))
        and userid like CONCAT(#{searchText} ,"%")
    </select>
    <!-- 댓글 인서트-->
    <insert id="insertArticleComment">
        INSERT into ms_mstar_comment(article_pk, profile_info_pk, comment)
        values(#{article_pk}, #{profile_info_pk}, #{comment})
    </insert>
    <!-- 대댓글 인서트-->
    <insert id="insertArticleTcomment">
        INSERT into ms_mstar_t_comment(comment_pk, profile_info_pk, t_comment)
        values(#{comment_pk}, #{profile_info_pk}, #{t_comment})
    </insert>
    <!-- 댓글 카운트-->
     <select id="selectArticleCommentCount" resultType="int">
        SELECT count(*) from ms_mstar_comment
        where article_pk = #{article_pk}
    </select>
    <!--대댓글카운트(토탈)-->
     <select id="selectTotalTcommentCount" resultType="int">
        SELECT count(*) from ms_mstar_t_comment
        where comment_pk in (SELECT comment_pk from ms_mstar_comment
        where article_pk = #{article_pk})
    </select>

    <!-- 댓글 리스트-->
    <select id="selectArticleCommentList" resultType="com.psychopath.dogstalking.mstar.dto.CommentDto">
        SELECT * from ms_mstar_comment
        where article_pk = #{article_pk}
        order by created_at DESC
    </select>
    <!-- 대댓글갯수-->
    <select id="selectTcommentCount" resultType="int">
        SELECT count(*) from ms_mstar_t_comment
        WHERE comment_pk = #{comment_pk}
        ORDER by created_at DESC
    </select>
    <!-- 대댓글 리스트 출력-->
    <select id="selectTcommentList" resultType="com.psychopath.dogstalking.mstar.dto.TcommentDto">
        SELECT * from ms_mstar_t_comment
        WHERE comment_pk = #{comment_pk}
        ORDER by created_at DESC
    </select>
    <!-- 댓글 좋아요 확인-->
    <select id="selectCommentLike" resultType="int">
        SELECT count(*) from ms_mstar_cmt_like
        where comment_pk = #{comment_pk}
    </select>
    <!--댓글 좋아요 갯수-->
    <select id="selectCommentLikeCount" resultType="int">
        SELECT count(*) from ms_mstar_cmt_like
        where comment_pk = #{comment_pk}
    </select>
    
    <!--작성자가 좋아하는 댓글-->
    <select id="selectWriterLikeComment" resultType="int">
        SELECT count(*) from ms_mstar_cmt_like
        where comment_pk = #{comment_pk}
        and profile_info_pk = #{profile_info_pk}
    </select>
    <!--글 작성자 프로필인포pk가져오기 article-->
    <select id="selectWriterProfilePk" resultType="int">
        SELECT profile_info_pk from ms_mstar_article
        where article_pk  = #{article_pk}
    </select>
    <!--글 작성자 프로필인포pk가져오기 comment-->
    <select id="selectWriterProfilePkByCommnet" resultType="int">
        SELECT profile_info_pk from ms_mstar_article
        where article_pk = (SELECT article_pk from ms_mstar_comment
        where comment_pk = #{comment_pk})
    </select>
    <!--댓글 좋아요-->
    <insert id="insertCommentLike">
        INSERT into ms_mstar_cmt_like(comment_pk, profile_info_pk)
        values(#{comment_pk}, #{profile_info_pk})
    </insert>
    <!--댓글 좋아요 취소-->
    <delete id="deleteCommentLike">
        DELETE from ms_mstar_cmt_like
        where comment_pk = #{comment_pk}
        and profile_info_pk = #{profile_info_pk}
    </delete>
    <!-- 인서트 된 값 가져와서 바로 보여주기 (메인리스트))-->
    <select id="selectInsertedMyComment" resultType="com.psychopath.dogstalking.mstar.dto.CommentDto">
        SELECT * from ms_mstar_comment
        where comment_pk = (SELECT max(comment_pk) from ms_mstar_comment
        where profile_info_pk = #{profile_info_pk})
    </select>
    <!--게시글 좋아요-->
    <insert id="insertArticleLike">
        INSERT into ms_mstar_article_like(article_pk, profile_info_pk)
        values(#{article_pk}, #{profile_info_pk})
    </insert>
    <!--게시글 좋아요 취소-->
     <delete id="deleteArticleLike">
        DELETE from ms_mstar_article_like
        where article_pk = #{article_pk}
        and profile_info_pk = #{profile_info_pk}
    </delete>
    <!--게시글 좋아요 갯수-->
    <select id="selectArticleLikeCount" resultType="int">
        SELECT count(*) from ms_mstar_article_like
        where article_pk = #{article_pk}
    </select>


    <!--게시글 좋아하는 사람들 중에 나를 제외한 나랑 팔로우 한사람 3명까지-->
    <select id="selectProfileInfoArticleLikeAndFollow" resultType="com.psychopath.dogstalking.mstar.dto.ProfileInfoDto">
        SELECT * from ms_mstar_profile_info
        where profile_info_pk in (
                select profile_info_pk from ms_mstar_article_like
                where profile_info_pk in (
                    SELECT follow_user_pk from ms_mstar_follow
                    where following_user_pk = #{profile_info_pk})
                and article_pk = #{article_pk}
                and profile_info_pk != #{profile_info_pk})
        LIMIT 3
    </select>
    
    <!--게시글 좋아요 확인-->
    <select id="checkMyArticleLikeCount" resultType="int">
        SELECT count(*) from ms_mstar_article_like
        where article_pk = #{article_pk}
        and profile_info_pk = #{profile_info_pk}
    </select>

    <!--대댓글 갯수 변경-->
    <select id="selectTcommentCountBycommentPk" resultType="int">
        SELECT count(*) from ms_mstar_t_comment
        where comment_pk = #{comment_pk}
    </select>
    
    <!--스토리 읽은지 확인-->
    <select id="selectViewStoryStatus" resultType="int">
        SELECT count(*) from ms_mstar_view_story
        where story_pk = #{story_pk}
        and profile_info_pk = #{myProfile_info_pk}
    </select>

    <!-- 다이렉트 리스트 가지고 오기-->
    <select id="selectMyDirectList" resultType="int">
        SELECT rcv_user_pk as profile_info_pk
        FROM ms_mstar_direct
        WHERE send_user_pk = #{profile_info_pk}
        UNION 
        SELECT send_user_pk as profile_info_pk
        FROM ms_mstar_direct
        WHERE rcv_user_pk= #{profile_info_pk}
    </select>
    <!-- 다이렉트 마지막 하나 -->
     <select id="selectLastDirectDto" resultType="com.psychopath.dogstalking.mstar.dto.DirectDto">
        SELECT * FROM ms_mstar_direct
        where send_user_pk = #{another_info_pk} and rcv_user_pk = #{profile_info_pk}
        OR 
        rcv_user_pk = #{another_info_pk} and send_user_pk = #{profile_info_pk}
        ORDER by created_at DESC
        limit 1
    </select>
    <!--다이렉트 읽은 상태 업데이트-->
    <update id="updateReadStatus">
        UPDATE ms_mstar_direct
        SET read_status = 'Y'
        where rcv_user_pk = #{profile_info_pk}
        and send_user_pk = #{another_info_pk}
    </update>
    <!--다이렉트 리스트 -->
    <select id="selectDirectChatList" resultType="com.psychopath.dogstalking.mstar.dto.DirectDto">
        SELECT * FROM ms_mstar_direct
        where send_user_pk = #{another_info_pk} and rcv_user_pk = #{profile_info_pk}
        OR 
        rcv_user_pk = #{another_info_pk} and send_user_pk = #{profile_info_pk}
        ORDER by created_at ASC
    </select>
    <!--로드한거 이외의 새로운채팅 로드-->
    <select id="selectNewChatList" resultType="com.psychopath.dogstalking.mstar.dto.DirectDto">
        SELECT * FROM ms_mstar_direct
        <![CDATA[
		    where (direct_pk > #{direct_pk})
         ]]>    
        and ((send_user_pk = #{another_info_pk} and rcv_user_pk = #{profile_info_pk})
        OR 
        (rcv_user_pk = #{another_info_pk} and send_user_pk = #{profile_info_pk}))
        ORDER by created_at ASC
    </select>
    <select id="selectChangeDirectStatus" resultType="int">
        SELECT count(read_status) from ms_mstar_direct
        where send_user_pk = #{profile_info_pk}
        and rcv_user_pk = #{another_info_pk}
        <![CDATA[
        and direct_pk <= #{direct_pk}
        ]]>  
        and read_status = 'N'
    </select>
    
    <!--검색-->
    <select id="selectSearchUserList" resultType="com.psychopath.dogstalking.dto.UserDto">
        SELECT * from ms_user
        WHERE userid LIKE CONCAT(#{search_text},'%')
        and user_pk in (SELECT user_pk from ms_mstar_profile_info
        where profile_info_pk != #{profile_info_pk})
    </select>
    <!--내가 팔로잉 하는 사람들 중 특정 사람을 팔로우하는 인원 수-->
    <select id="selectMyFollowingUserFollowing" resultType="int">
        SELECT following_user_pk from ms_mstar_follow
        where follow_user_pk = #{another_info_pk}
        and following_user_pk in (
            SELECT follow_user_pk from ms_mstar_follow
            where following_user_pk = #{profile_info_pk}
            )
    </select>
    <!--채팅 작성-->
    <insert id="insertDirectChat">
        INSERT into ms_mstar_direct(send_user_pk, rcv_user_pk, chat)
        values(#{send_user_pk}, #{rcv_user_pk}, #{chat})
    </insert>
    <!--내스토리 전체목록(시간제한없음)-->
    <select id="selectMyAllStoryList" resultType="com.psychopath.dogstalking.mstar.dto.StoryDto">
        SELECT * from ms_mstar_story
        where profile_info_pk  = #{profile_info_pk}
    </select>
    

    <select id="selectUnReadNotificationList" resultType="com.psychopath.dogstalking.mstar.dto.NotificationDto">
        SELECT * FROM ms_mstar_notification
        where user_pk = #{user_pk}
        and read_status = 'N'
        ORDER by created_at DESC
    </select>
    <select id="selectReadNotificationList" resultType="com.psychopath.dogstalking.mstar.dto.NotificationDto">
        SELECT * FROM ms_mstar_notification
        where user_pk = #{user_pk}
        and read_status = 'Y'
        ORDER by created_at DESC
    </select>
    <select id="selectUnReadNotify" resultType="int">
        SELECT count(*) FROM ms_mstar_notification
        where user_pk = #{user_pk}
        and read_status = 'N'
    </select>
    <update id="updateNotificationStatus">
        UPDATE ms_mstar_notification
        SET read_status = 'Y'
        where user_pk = #{user_pk}
    </update>
    <select id="selectUnReadDirect" resultType="int">
        SELECT count(*) from ms_mstar_direct
        where rcv_user_pk in (SELECT profile_info_pk from ms_mstar_profile_info
        where user_pk = #{user_pk})
        and read_status ='N'
    </select>
    <select id="selectRecoUserList" resultType="int"> 
        SELECT result.profile_info_pk FROM (
            SELECT unfollowinglist.profile_info_pk, COUNT(mf.following_user_pk) as follow_count
            FROM (
                SELECT mmpi.profile_info_pk
                FROM ms_mstar_profile_info mmpi
                WHERE user_pk != 1
                AND profile_info_pk NOT IN (
                    SELECT follow_user_pk
                    FROM ms_mstar_follow mmf
                    WHERE following_user_pk = (
                        SELECT profile_info_pk
                        FROM ms_mstar_profile_info
                        WHERE user_pk = 1
                    )
                )
            ) AS unfollowinglist
            LEFT JOIN ms_mstar_follow mf ON unfollowinglist.profile_info_pk = mf.following_user_pk
            GROUP BY unfollowinglist.profile_info_pk
            order BY follow_count DESC
            limit 5) as result
    </select>
    
    
    
    
  
    
    
    


        


    
</mapper>