<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>동호회 관리자 페이지</title>
    <script src="https://kit.fontawesome.com/fdd6196f61.js" crossorigin="anonymous"></script>
    <script src="/public/js/commons/lockLikeMobile.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@latest/font/bootstrap-icons.css">

    <style>
        @font-face {
            font-family: 'omyu_pretty';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
            font-weight: normal;
            font-style: normal;
        }

        body {
            font-family: 'omyu_pretty';
            min-width: 320px;
        }

        .scrollable-menu {
            overflow-x: auto;
            white-space: nowrap;
        }

        .scrollable-menu .col {
            display: flex;
            flex-wrap: nowrap;
        }

        .scrollable-menu span {
            border-bottom: 2px solid transparent;
            padding-bottom: 2px;
            transition: border-color 0.3s;
        }

        .scrollable-menu span:hover {
            border-color: #000;
        }

        .member-card {
            margin-bottom: 5px;
        }

        #search-query {
            width: 70%;
            padding: 10px;
            background-color: #e7e7e7;
            margin-bottom: 10px;
            border-radius: 0;
            display: inline-block;
        }

        #search-button {
            padding: 10px;
            cursor: pointer;
            background-color: #e7e7e7;
            color: #333;
            display: inline-block;
            border-radius: 0;
            transition: background-color 0.3s, color 0.3s;
        }

        .small-text {
            font-size: 80%;
        }

        .bottom-line {
            border-bottom: 7px solid #e7e7e7;
            padding-bottom: 6px;
            margin-bottom: 10px;
        }

        .gear-icon {
            font-size: 1.2em;
            /* 톱니바퀴 아이콘 크기 조절 */
            color: #888;
            /* 아이콘 색상 지정 */
        }

        .btn-no-background {
            background-color: transparent !important;
            border: none;
            color: #333;
            padding: 0;
        }

        .btn-no-background:hover {
            background-color: transparent !important;
            color: #555;
        }

        .modal-body label {
            display: block;
            /* 추가된 부분 */
        }

        .packtitleBox {
            background-color: white;
            border-bottom-left-radius: 1em;
            border-bottom-right-radius: 1em;
            margin: 0.02em;
            margin-top: 0em;
        }

        .packBox {
            background-color: white;
            border-radius: 1em;
            padding-top: 0.75em;
            padding-bottom: 0.75em;
            margin: 0.02em;
        }

        .container {
            background-color: ghostwhite;
        }
    </style>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script>
        function confirmWithdrawal(user_pk) {
            var userConfirmed = confirm('정말 탈퇴하시겠습니까?');

            if (userConfirmed) {
                window.location.href = './clubWithdrawalProcess?user_pk=' + user_pk;
            } else {
                console.log('canceled');
            }
        }

        function searchMembers() {
            const resultContainer = document.getElementById('search-results');
            const searchQuery = document.getElementById('search-query').value;
            console.log('Search Query:', searchQuery);
            const url = './performSearch?searchQuery=' + searchQuery;

            fetch(url)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(searchResults => {
                    console.log(JSON.stringify(searchResults));

                    resultContainer.innerHTML = '';

                    if (searchResults.data && Array.isArray(searchResults.data)) {
                        searchResults.data.forEach(member => {
                            const cardDiv = createMemberCard(member);
                            resultContainer.appendChild(cardDiv);
                        });
                    } else {
                        console.error('Search results data is not an array or is null:', searchResults.data);
                    }
                })
                .catch(error => console.error('Error fetching search results:', error));
        }

        function createMemberCard(member) {
            const cardDiv = document.createElement('div');
            cardDiv.innerHTML = `
        <div class="col text-center">
            <div class="row d-flex justify-content-center align-items-center">
                <img th:src="@{${member.profile_photo}}" class="rounded-circle profile-image" style="max-width: 4.5em; max-height: 4.5em;">
            </div>

                <div class="row">
                    <span class="fw-bold">${member.name}</span>
                </div>

        </div>
    `;
            return cardDiv;
        }


        function withdrawalModal(user_pk) {
            $('#withdrawalModal').modal('show');
            $('#confirmWithdrawalBtn').data('user-pk', user_pk);
        }

        function confirmLeadership() {
            var selectedUserPk = $('input[name=leaderRadio]:checked').val();

            window.location.href = './clubLeaderChangeProcess?user_pk=' + selectedUserPk;
        }

        function showWithdrawalModal(user_pk) {
            $('#gearModal').modal('hide');
            $('#withdrawalModal').modal('show');
            $('#confirmWithdrawalBtn').data('user-pk', user_pk);
        }

        $('#confirmWithdrawalBtn').click(function () {
            var user_pk = $(this).data('user-pk');
            console.log("Confirmed Withdrawal for user_pk: " + user_pk);
            $('#withdrawalModal').modal('hide');
        });

        var selectedPermission = ''; // 전역 변수로 선택된 권한을 저장

        function selectPermission(permission) {
            selectedPermission = permission;
            console.log("Selected Permission: " + selectedPermission);
            $('#gearModal').modal('hide');
            if (selectedPermission === 'leaderPermission') {
                $('#leadershipModal').modal('show');
            } else {
                $('#gearModal').modal('hide');
            }
        }
        function goBack() {
            window.history.back();
        }
    </script>
    <script src="/public/js/commons/naviBar.js"></script>
    <link rel="stylesheet" th:href="@{/public/css/commons/naviBar.css}" />
</head>

<body>
    <div class="container pb-5">
        <div class="row">
            <div th:insert="~{commons/naviBar}" style="background-color: #ffffff;"></div>
        </div>
        <div class="row"style="background-color: #ffffff;">
            <div class="col-auto my-2 ms-1" onclick="goBack()">
                <i class="bi bi-arrow-left"></i>
            </div>
            <div th:text="${clubTF.clubname}" class="col d-flex align-items-center px-0">
            </div>
        </div>
        <div class="row scrollable-menu px-0"style="background-color: #ffffff;">
            <div class="col justify-content-between fw-bold">
                <span class="mx-3" style="cursor: pointer;" onclick="location.href='./clubHomePage'">홈</span>
                <span class="mx-3" style="cursor: pointer;" onclick="location.href='./freeBoardPage'">게시판</span>
                <span class="mx-3" style="cursor: pointer;" onclick="location.href='./photoAlbumPage'">사진첩</span>
                <span class="mx-3" style="cursor: pointer;" onclick="location.href='./clubMemberPage'">멤버</span>
            </div>
        </div>
        <div class="row mt-3 border-bottom border-5 border-gray  packBox mb-2 p-2 pt-3" style="color: #323232;">
            <div class="col fw-bold fs-4">회원 검색</div>


            <form id="search-form" class="input-group" onsubmit="event.preventDefault(); searchMembers();">
                <div class="input-group px-2 py-2">
                    
                    <div class="input-group-append ">
                        <button id="search-button" class="btn btn-icon" type="button" onclick="searchMembers()" style="border-top-left-radius: 25px; border-bottom-left-radius: 25px;">
                            <span class="bi bi-search ps-2"></span>
                        </button>
                    </div>
                    <input type="text" id="search-query" name="q" class="form-control" placeholder="Search" style="border-top-right-radius: 25px; border-bottom-right-radius: 25px;" >
                </div>
                
                
            </form>
            <!-- 검색 부분 -->
            <div class="row p-3 row-cols-3" id="search-results" style="overflow-x: auto;">
                <div class="col" th:each="member : ${searchResults}">
                    <div class="row">
                        <div class="col text-center">
                            <a th:href="'../mstar/profilePage?user_pk=' + ${qwer['user_pk']}">
                                <img th:src="@{${member.profile_photo}}"
                                    class="img-fluid rounded-circle profile-image"
                                    style="max-width: 40px; max-height: 40px;">
                            </a>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div th:if="${leaderRank == 1}" class="col d-flex align-items-center">
                            <div th:if="${member.user_pk == user_pk}" style="display: flex; align-items: center;">
                                <span class="fw-bold" th:text="${member.name}" style="margin: auto;"></span>
                                <span
                                    style="font-size: 0.8em; color: gold; margin-left: 5px; margin-bottom: 3px;">👑</span>
                            </div>
                            <div th:unless="${member.user_pk == user_pk}" style="display: flex; align-items: center;">
                                <span class="fw-bold" th:text="${member.name}" style="margin: auto;"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="row mt-3 border-bottom border-5 border-gray  packBox mb-2 p-2 pt-3" style="color: #323232;">
            <div class="col">
                
                <div class="row"><div class="col fw-bold fs-4">전체 회원</div></div>
                <div class="row px-2 mb-2">
                    <a href="./clubManagement">
                        <span class="small-text" style="color: black;">
                            리더를 위한 멤버 관리 가이드 <br>
                            <span style="color: #2db400;">멤버 프로필 그룹관리 및 권한 설정법 ></span>
                        </span>
        
                    </a>
                </div>
                <div class="row pt-3">
                    <div th:each="member : ${memberlist}">
                        <div class="row pb-1">
                            <div class="col">
                                <div class="card member-card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-2 ms-2">
            
                                                <a th:href="'../mstar/profilePage?user_pk=' + ${member.user_pk}">
                                                    <img th:src="@{${member.profile_photo}}"
                                                        class="img-fluid rounded-circle profile-image"
                                                        style="max-width: 40px; max-height: 40px;">
                                                </a>
            
            
                                            </div>
                                            <div th:if="${leaderRank == 1}" class="col-5 d-flex align-items-center">
            
                                                <div th:if="${member.user_pk == user_pk}"
                                                    style="display: flex; align-items: center;">
                                                    <span class="fw-bold" th:text="${member.name}" style="margin: auto;"></span>
                                                    <span
                                                        style="font-size: 0.8em; color: gold; margin-left: 5px; margin-bottom: 3px;">👑</span>
                                                </div>
                                                <div th:unless="${member.user_pk == user_pk}"
                                                    style="display: flex; align-items: center;">
                                                    <span class="fw-bold" th:text="${member.name}" style="margin: auto;"></span>
                                                </div>
                                            </div>
            
                                            <div th:if="${leaderRank == 3}"
                                                class="col d-flex align-items-center justify-content-end text-end pe-4">
                                                <div th:if="${member.user_pk == user_pk}">
                                                    <!-- 탈퇴 버튼 스타일 추가 -->
                                                    <button class="btn btn-secondary btn-sm text-end btn-no-background"
                                                        th:onclick="confirmWithdrawal([[${member.user_pk}]]);">탈퇴하기</button>
                                                </div>
                                            </div>
                                            <div th:if="${leaderRank == 1}"
                                                class="col d-flex align-items-center justify-content-end text-end pe-4">
                                                <div th:if="${member.user_pk == user_pk}">
                                                    <button class="btn btn-secondary btn-sm text-end btn-no-background"
                                                        id="gearModalButton" data-bs-toggle="modal" data-bs-target="#gearModal">
                                                        <span class="bi bi-gear gear-icon"></span>
                                                    </button>
                                                </div>
                                                <button class="btn btn-secondary btn-sm text-end btn-no-background"
                                                    th:unless="${member.user_pk == user_pk}"
                                                    th:onclick="confirmWithdrawal([[${member.user_pk}]]);"
                                                    th:text="'강퇴'">강퇴</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- 권한 설정 모달 -->
    <div class="modal fade" id="gearModal" tabindex="-1" role="dialog" aria-labelledby="gearModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="gearModalLabel">멤버 관리</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-3">
                    <div class="permission-label">
                        <button class="btn" onclick="selectPermission('leaderPermission')">
                            멤버 권한 설정
                        </button>
                    </div>
                    <div class="permission-label">
                        <button class="btn" onclick="selectPermission('leaderPermission')">
                            차단 멤버 관리
                        </button>
                    </div>
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                </div>
            </div>
        </div>
    </div>


    <!-- 탈퇴/차단 모달 -->
    <!--/* <div class="modal fade" id="withdrawalModal" tabindex="-1" role="dialog" aria-labelledby="withdrawalModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                
                <div class="modal-header">
                    <h5 class="modal-title" id="withdrawalModalLabel">멤버 탈퇴 설정</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>정말로 멤버를 내보내겠습니까?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-danger"  data-toggle="modal"
                    th:onclick="confirmWithdrawal([[${member.user_pk}]]);">강퇴</button>

                </div>
            </div>
        </div>
    </div> */-->


    <!-- 리더위임 모달 -->
    <div class="modal fade" id="leadershipModal" tabindex="-1" role="dialog" aria-labelledby="leadershipModalLabel"
        aria-hidden="true">
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="leadershipModalLabel">리더 위임</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul>
                        <li th:each="member : ${memberlist}">
                            <label>
                                <input th:if="${member.user_pk != user_pk}" type="radio" name="leaderRadio"
                                    th:value="${member.user_pk}" th:checked="${member.user_pk == user_pk}" />
                                <span th:text="${member.name}"></span>
                            </label>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary" onclick="confirmLeadership()">확인</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>