<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/fdd6196f61.js" crossorigin="anonymous"></script>
    <script src="/public/js/commons/lockLikeMobile.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <style>
        @font-face {
            font-family: 'omyu_pretty';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
            font-weight: normal;
            font-style: normal;
        }

        body {
            font-family: 'omyu_pretty';
            min-width: 320px;
        }

        .scrollable-menu {
            overflow-x: auto;
            white-space: nowrap;
        }

        .scrollable-menu .col {
            display: flex;
            flex-wrap: nowrap;
        }

        .scrollable-menu span {
            border-bottom: 2px solid transparent;
            padding-bottom: 2px;
            transition: border-color 0.3s;
        }

        .scrollable-menu span:hover {
            border-color: #000;
        }

        .imtext {
            position: absolute;
            top: 120px;
            left: 13px;
            z-index: 1;
            color: rgb(190, 190, 190);
            font-size: 0.7em;
            width: auto;
            font-weight: bold;

        }

        .custom-border {
            border-right: 1.5px solid rgb(190, 190, 190);
            height: 100vh;
        }

        .custom-list {
            border-radius: 10px;
            /* 리스트 주변의 둥근 모서리 설정 */
        }

        .custom-span {
            color: black;
            font-size: 0.7em;
            display: inline-block;
        }

        @media (min-width: 576px) {
            .modal.bottom-modal .modal-dialog {
                position: fixed;
                bottom: -10%;
                left: 50%;
                transform: translateX(-50%) translateY(100%);
                margin: 0;
                transition: transform 0.3s ease-out;
            }

            .modal.show .modal-dialog {
                transform: translateX(-50%) translateY(0%);
            }

        }
    </style>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
    <script>
        var offcanvasElementList = [].slice.call(document.querySelectorAll('.offcanvas'))
        var offcanvasList = offcanvasElementList.map(function (offcanvasEl) {
            return new bootstrap.Offcanvas(offcanvasEl)
        })

        function goBack() {
            window.history.back();
        }
//        

    </script>


    <script th:inline="javascript">
        const articleId = /*[[${clubfreeboard_pk}]]*/ null;
        var myId = /*[[${session.sessionUser.user_pk}]]*/ null;
    </script>


    <script>
        let articleIds = null;
        if (articleId != null) {
            articleIds = articleId;
        }

        function openOffcanvas(event, clubboard_pk) {

            event.preventDefault();
            var offcanvasBottom = new bootstrap.Offcanvas(document.getElementById('offcanvasBottom'));
            offcanvasBottom.show();

            articleIds = clubboard_pk;
            reloadCommentList();
        }

        function writeComment() {

            var inputComment = document.getElementById("inputComment");
            var commentValue = inputComment.value;

            console.log("articleIds: " + articleIds);

            var url = "./writeComment";

            fetch(url, {
                method: "post",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded"
                },
                body: "content=" + commentValue + "&clubboard_pk=" + articleIds
            })
                .then(response => response.json())
                .then(response => {
                    inputComment.value = "";
                    reloadCommentList();
                })
                .catch(error => {
                    console.error("Error writing comment:", error);
                });
        }

        function showCommentUpdateForm(targetElement, commentId) {
            const updateCommentWrapper = document.querySelector("#templete .updateCommentWrapper").cloneNode(true);

            const commentWrapper = targetElement.closest(".commentWrapper");

            const commentText = commentWrapper.querySelector(".commentText");

            const text = commentText.innerText;
            commentText.innerHTML = "";

            updateCommentWrapper.querySelector(".inputComment").value = text;

            const updateCommentButton = updateCommentWrapper.querySelector(".updateCommentButton");
            updateCommentButton.setAttribute("onclick", "updateComment(this, " + commentId + ")");

            commentText.appendChild(updateCommentWrapper);
        }

        function updateComment(targetElement, commentId) {
            const updateCommentWrapper = targetElement.closest(".updateCommentWrapper");
            const inputComment = updateCommentWrapper.querySelector(".inputComment");

            const content = inputComment.value;

            const url = "./updateComment";
            const option = {
                method: "post",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded"
                },
                body: "comment_pk=" + commentId + "&content=" + content
            };

            fetch(url, option)
                .then(response => response.json())
                .then(response => {
                    reloadCommentList();
                });

        }

        function deleteComment(commentId) {
            const url = "./deleteComment?comment_id=" + commentId;
            fetch(url)
                .then(response => response.json())
                .then(response => {
                    reloadCommentList();
                });
        }

        function reloadCommentList() {

            const url = "./getCommentList?clubboard_pk=" + articleIds;
            fetch(url)
                //.then(response => response.json())
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(response => {
                    if (response && Array.isArray(response.data)) {
                        let commentListBox = document.getElementById("commentListBox");
                        if (commentListBox) {
                            commentListBox.innerHTML = "";

                            for (e of response.data) {
                                const commentWrapper = document.querySelector("#templete .commentWrapper").cloneNode(true);


                                const commentNickname = commentWrapper.querySelector(".commentNickname");
                                commentNickname.innerText = e.name;

                                const commentDate = commentWrapper.querySelector(".commentDate");
                                const date = new Date(e.created_at);
                                commentDate.innerText = date.getFullYear() + "." + (date.getMonth() + 1) + "." + date.getDate();

                                const commentText = commentWrapper.querySelector(".commentText");
                                commentText.innerText = e.content;

                                const commentUpdate = commentWrapper.querySelector(".commentUpdate");
                                const commentDelete = commentWrapper.querySelector(".commentDelete");

                                commentUpdate.setAttribute("onclick", "showCommentUpdateForm(this, " + e.comment_pk + ")");
                                commentDelete.setAttribute("onclick", "deleteComment(" + e.comment_pk + ")");

                                if (myId == null || myId != e.user_pk) {
                                    commentUpdate.remove();
                                    commentDelete.remove();
                                }


                                commentListBox.appendChild(commentWrapper);
                            }
                        } else {
                            console.error("commentWrapper is null or undefined");
                        }
                    } else {
                        console.error("Invalid response data:", response);
                    }
                })
                .catch(error => {
                    console.error("Error fetching comment list:", error);
                });
        }
        window.addEventListener("DOMContentLoaded", () => {
            reloadCommentList();
        });


    </script>

    <script src="/public/js/commons/naviBar.js"></script>
    <link rel="stylesheet" th:href="@{/public/css/commons/naviBar.css}" />
</head>

<body>
    <div class="container pb-5">
        <div th:insert="~{commons/naviBar}"></div>
        <div class="row px-0">
            <div class="col-auto my-2 ms-1" onclick="goBack()">
                <i class="bi bi-arrow-left"></i>
            </div>
            <div th:text="${clubTF.clubname}" class="col d-flex align-items-center px-0">
            </div>
        </div>
        <div class="row scrollable-menu py-2">
            <div class="col justify-content-between fw-bold">
                <span class="mx-3" style="cursor: pointer;" onclick="location.href='./clubHomePage'">홈</span>
                <span class="mx-3" style="cursor: pointer;" onclick="location.href='./freeBoardPage'">방명록</span>
                <span class="mx-3" style="cursor: pointer;" onclick="location.href='./photoAlbumPage'">사진첩</span>
                <span class="mx-3" style="cursor: pointer;" onclick="location.href='./clubMemberPage'">멤버</span>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col fw-bold fs-4">동호회 방명록</div>
        </div>


        <th:block th:each="qwer : ${freeBoardList}">
            <div class="row py-3 px-1 border-bottom">
                <div class="col">
                    <div class="row">
                        <div class="col-7">
                            <a href="../mstar/profilePage">
                            <img th:src="@{response.data.profile_photo}" class="img-fluid rounded-circle"
                                style="width: 2em; height: 2em;">
                                </a>
                            <span class="fw-bold" style="color: #f45600;" th:text="${qwer['name']}"></span>
                        </div>
                        <div class="col text-end text-secondary">

                            <span style="font-size: 0.8em;">좋아요</span><span class="me-2 fw-bold"
                                style="font-size: 1em;">1</span>
                            <a href="#"
                                th:attr="onclick='openOffcanvas(event, \'' + ${qwer['clubfreeboard_pk']} + '\')'"
                                aria-controls="offcanvasBottom">
                                <span style="font-size: 0.8em;" class="text-primary">댓글 보기</span>
                            </a>



                            <!-- <i id="heartBox" onclick="toggleLike()" class="bi bi-heart text-danger"></i><span id="totalCountBox">5</span>
                            <span class="text-center"><i class="bi bi-chat-dots"></i></span> -->


                            <!-- <a th:href="@{'./freeBoardReadPage?clubfreeboard_pk=' + ${qwer['clubfreeboard_pk']}}"
                                class="justify-content-center align-items-center" style="border: none;">
                                <span class="text-center"><i class="bi bi-chat-dots"></i></span>
                            </a> -->
                        </div>
                    </div>
                    <div th:unless="${#strings.isEmpty(qwer['img'])}" class="row mt-2">
                        <img class="img-fluid" th:src="@{'/uploadFiles/' + ${qwer['img']}}">
                    </div>

                    <div class="row mt-2">
                        <div class="col" style="color: #200909;" th:text="${qwer['content']}"></div>
                    </div>

                </div>
            </div>
            <div class="offcanvas offcanvas-bottom position-fixed" tabindex="-1" id="offcanvasBottom"
                aria-labelledby="offcanvasBottomLabel" style="width: 100%; max-width: 600px; height: auto;">
                <div class="row offcanvas-header">
                    <div class="col">
                        Likes • Comments
                    </div>
                    <div class="col-2 text-end">
                        <button type="button" class="btn-close text-end" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>
                </div>

                <div class="offcanvas-body">
                    <!-- <div class="row">
                <p class="text-muted">댓글리스트.</p>
            </div> -->
                    <div id="commentListBox" class="row">
                    </div>
                </div>
                <div class="offcanvas-bottom p-2">
                    <div class="row align-items-center">
                        <div class="col-9 d-grid pe-0"  style="height: 3em;">
                            <textarea id="inputComment" class="form-control" placeholder="댓글을 입력하세요"></textarea>
                        </div>
                        <div class="col-3 d-grid ps-0" style="height: 3em;">
                            <button onclick="writeComment()" class="btn btn-secondary comment-btn">전송</button>
                        </div>
                    </div>
                </div>

            </div>

    </div>

    </th:block>





    <div class="position-fixed end-0 m-3" style="bottom: 5em;">
        <a href="./freeBoardWritePage" class="btn btn-secondary rounded-circle p-3">
            <i class="bi bi-pencil"></i>
        </a>
    </div>

    <!-- Template -->
    <div id="templete" class="d-none">
        <div class="commentWrapper">
            <div class="row">
                <div class="col pt-1 text-center">
                    <img th:src="@{response.data.profile_photo}" class="img-fluid rounded-circle profile-image"
                        style="width: 7em">
                </div>
                <div class="col-10">
                    <div class="row">
                        <div class="col commentNickname fw-bold">닉네임 나오는 곳</div>
                        <div class="col-3 text-end commentDate text-secondary">2023.11.03</div>
                    </div>
                    <div class="row">
                        <div class="commentText col">댓글 내용 블라블라....</div>
                        <div class="col-2 commentUpdate text-secondary small text-center">수정</div>
                        <div class="col-2 commentDelete text-secondary small text-center">삭제</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row updateCommentWrapper">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <input type="text" class="inputComment form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col updateCommentButton">저장</div>
                    <div onclick="reloadCommentList()" class="col">취소</div>
                </div>
            </div>
        </div>




    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>