<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.psychopath.dogstalking.auction.mapper.AuctionSqlMapper">


    <select id="getCategory" resultType="com.psychopath.dogstalking.auction.dto.AuctionCategoryDto">
        select * from ms_auction_category
    </select>


    <insert id="insertGoodsDto">
        insert into 
        ms_auction_goods(category_pk, user_pk, starting_price, bin_price, commencement_date, expiry_date, image_link, title, content, read_count)
        values
        (
            #{category_pk},
            #{user_pk},
            #{starting_price},
            #{bin_price},
            #{commencement_date},
            #{expiry_date},
            #{image_link},
            #{title},
            #{content},
            0
        )    
    </insert>

    <select id="createGoodsPk" resultType="int">
        select NVL(Max(pk+1), 1) as pk from ms_auction_goods
    </select>

    <insert id="insertImageDto">
        insert into 
        ms_auction_image(goods_pk, image_link)
        values
        (
            #{goods_pk},
            #{image_link}
        )
    </insert>

    <select id="getGoodsListByCategoryPk" resultType="com.psychopath.dogstalking.auction.dto.AuctionGoodsDto">
        select * from ms_auction_goods
        where category_pk = #{category_pk}
        <![CDATA[
        and commencement_date <= now()
        and expiry_date >= now()
        order by expiry_date - now() asc
        ]]>
    </select>


    <select id="getUserInfoByPk" resultType="com.psychopath.dogstalking.dto.UserDto">
        select * from ms_user
        where user_pk = #{userPk}
    </select>


    <select id="getGoodsDto" resultType="com.psychopath.dogstalking.auction.dto.AuctionGoodsDto">
        select * from ms_auction_goods
        where pk = #{goodsPk}
    </select>

    <select id="getCategoryDto" resultType="com.psychopath.dogstalking.auction.dto.AuctionCategoryDto">
        select * from ms_auction_category
        where pk = #{categoryPk}
    </select>

    <insert id="insertChatDto">
        insert into 
        ms_auction_chat(goods_pk, user_pk, message)
        values
        (
            #{goods_pk},
            #{user_pk},
            #{message}
        )
    </insert>

    <select id="getChatList" resultType="com.psychopath.dogstalking.auction.dto.ChatDto">
        select * from ms_auction_chat
        where goods_pk = #{goodsPk}
        order by created_at asc
    </select>

    <select id="getBidListByGoodsPk" resultType="com.psychopath.dogstalking.auction.dto.BidDto">
        select * from ms_auction_bid
        where goods_pk = #{goodsPk}
        order by created_at desc
    </select>

    <select id="getHighestBidPrice" resultType="int">
        select NVL(MAX(bid_price), 0) from ms_auction_bid
        where goods_pk=#{goodsPk}
    </select>

    <insert id="insertBidDto">
        insert into 
        ms_auction_bid(goods_pk, user_pk, bid_price)
        values
        (
            #{goods_pk},
            #{user_pk},
            #{bid_price}
        )      
    </insert>

    <update id="updateGoodsExpiryDatePlusMinutes">
        update ms_auction_goods
        set expiry_date = #{expiry_date}
        where pk = #{pk}
    </update>

    <select id="getAppendChatList" resultType="com.psychopath.dogstalking.auction.dto.ChatDto">
        select * from ms_auction_chat
        where goods_pk = #{goods_pk}
        <![CDATA[
        and pk > #{pk}
        order by created_at asc
        ]]>
    </select>

    <select id="getMyBidGoodsList" resultType="com.psychopath.dogstalking.auction.dto.AuctionGoodsDto">
        select * from ms_auction_goods
        where pk in 
        (
            select DISTINCT goods_pk from ms_auction_bid
            where user_pk = #{user_pk}
        )
    </select>

    <select id="getMyHighestBidByGoods" resultType="com.psychopath.dogstalking.auction.dto.BidDto">
        select * from ms_auction_bid
        where goods_pk = #{goods_pk}
        and user_pk = #{user_pk}
        order by created_at desc
        Limit 1
    </select>

    <select id="getHighestBidByGoods" resultType="com.psychopath.dogstalking.auction.dto.BidDto">
        select * from ms_auction_bid
        where goods_pk = #{goods_pk}
        order by created_at desc
        Limit 1
    </select>

    <select id="getMyBidList" resultType="com.psychopath.dogstalking.auction.dto.BidDto">
        select * from ms_auction_bid
        where goods_pk = #{goods_pk}
        and user_pk = #{user_pk}
        order by created_at desc

    </select>

    <select id="getCountPayment" resultType="int">
        SELECT count(*) from ms_auction_payment
        where bid_pk = #{bid_pk}
    </select>

    <insert id="insertPayment">
        insert into 
        ms_auction_payment(bid_pk, price, address)
        values
        (
            #{bid_pk},
            #{price},
            #{address}
        )
    </insert>

    <select id="getBidDto" resultType="com.psychopath.dogstalking.auction.dto.BidDto">
        select * from ms_auction_bid
        where pk=#{bidPk}
    </select>

    <select id="getPaymentDto" resultType="com.psychopath.dogstalking.auction.dto.PaymentDto">
        SELECT * from ms_auction_payment
        where bid_pk = #{bidPk}
    </select>

    <select id="getDeliveryDto" resultType="com.psychopath.dogstalking.auction.dto.DeliveryDto">
        select * from ms_auction_delivery
        where payment_pk = #{paymentPk}
    </select>

    <select id="getCountDeliveryDto" resultType="int">
        select count(*) from ms_auction_delivery
        where payment_pk = #{paymentPk}
    </select>

    <select id="getSaleGoodsList" resultType="com.psychopath.dogstalking.auction.dto.AuctionGoodsDto">
        select * from ms_auction_goods
        where user_pk=#{userPk}
        <![CDATA[
        and expiry_date < now()
        order by created_at desc
        ]]>
    </select>

    <insert id="insertDelivery">
        insert into 
        ms_auction_delivery(payment_pk, waybill)
        values
        (
            #{payment_pk},
            #{waybill}
        )
    </insert>

    <select id="getCountWishlist" resultType="int">
        select count(*) from ms_auction_wishlist
        where goods_pk = #{goods_pk}
        and user_pk = #{user_pk}
    </select>

    <insert id="insertWishlist">
        insert into 
        ms_auction_wishlist(goods_pk, user_pk)
        values
        (
            #{goods_pk},
            #{user_pk}
        )
    </insert>

    <delete id="deleteWishlist">
        delete from ms_auction_wishlist
        where goods_pk = #{goods_pk}
        and user_pk = #{user_pk}
    </delete>


    <select id="getCountWishlistByGoods" resultType="int">
        select count(*) from ms_auction_wishlist
        where goods_pk = #{goods_pk}
    </select>

    <select id="getCountBidByGoods" resultType="int">
        select count(*) from ms_auction_bid
        where goods_pk = #{goodsPk}
    </select>

    <select id="getDogInfo" resultType="com.psychopath.dogstalking.dto.DogDto">
        select * from ms_dog
        where userpk = #{userPk}
        order by created_at asc
        Limit 1
    </select>

    <select id="getDogCount" resultType="int">
        select COUNT(*) from ms_dog
        where userpk = #{userPk}
    </select>


    <select id="mainPageGoodsList" resultType="map">
        <![CDATA[
        SELECT g.*, COALESCE(w.wishlist_count, 0) AS wishlist_count, c.name AS category_name
        FROM ms_auction_goods g
        LEFT JOIN (
            SELECT goods_pk, COUNT(*) AS wishlist_count
            FROM ms_auction_wishlist
            GROUP BY goods_pk
        ) w ON g.pk = w.goods_pk
        LEFT JOIN ms_auction_category c ON g.category_pk = c.pk
        WHERE g.commencement_date <= NOW() AND g.expiry_date >= NOW()
        ORDER BY COALESCE(w.wishlist_count, 0) DESC, g.expiry_date - NOW() ASC
        LIMIT 5
        ]]>
    </select>

    <select id="mainPageGoodsListLimit" resultType="map">
        <![CDATA[
        SELECT g.*, COALESCE(w.wishlist_count, 0) AS wishlist_count, c.name AS category_name
        FROM ms_auction_goods g
        LEFT JOIN (
            SELECT goods_pk, COUNT(*) AS wishlist_count
            FROM ms_auction_wishlist
            GROUP BY goods_pk
        ) w ON g.pk = w.goods_pk
        LEFT JOIN ms_auction_category c ON g.category_pk = c.pk
        WHERE g.commencement_date <= NOW() AND g.expiry_date >= NOW()
        ORDER BY COALESCE(w.wishlist_count, 0) DESC, g.expiry_date - NOW() ASC
        LIMIT 3
        ]]>
    </select>



</mapper>