<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/fdd6196f61.js" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
        <script src="https://kit.fontawesome.com/fdd6196f61.js" crossorigin="anonymous"></script>
        <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
        <script src="/public/js/commons/lockLikeMobile.js"></script>
        
        <script>
            function showShopModal(){
        const itemModal = bootstrap.Modal.getOrCreateInstance("#itemModal");
        loadCoinProductList()
        loadShopItemList()
        itemModal.show();
    }
    function closeShopModal(){
        const itemModal = bootstrap.Modal.getOrCreateInstance("#itemModal");
        itemModal.hide();
    }
    function loadCoinProductList(){
        const url = "/mFollow/loadCoinProductList";

        fetch(url)
        .then(response => response.json())
        .then((response) =>{
            const coinProductListBox = document.querySelector("#coinProductListBox");

            for(e of response.data){
                const coinProductListWrapper = document.querySelector("#coinProductListTemplete .coinProductListWrapper").cloneNode(true);
                coinProductListWrapper.setAttribute("onclick" , "loadCoinInfo("+e.coinCategoryDto.coin_category_pk+")");

                const coinProductImg = coinProductListWrapper.querySelector(".coinProductImg");
                coinProductImg.src = e.coinCategoryDto.coin_img

                const coinProductCount = coinProductListWrapper.querySelector(".coinProductCount");
                coinProductCount.innerText = "고기 보석"+e.coinCategoryDto.coin_count+"개 + "+e.coinCategoryDto.bonus_coin+"개";

                const coinProductPrice = coinProductListWrapper.querySelector(".coinProductPrice");
                coinProductPrice.innerText = "KDW"+e.coinCategoryDto.price;

                coinProductListBox.appendChild(coinProductListWrapper);
            }
        });

    }
    //
    function loadShopItemList(){
        const url = "/mFollow/loadShopItemList?user_pk="+6;

        fetch(url)
        .then(response => response.json())
        .then((response) =>{
            const shopLvItemListBox = document.querySelector("#shopLvItemListBox");
            const shopUseItemListBox = document.querySelector("#shopUseItemListBox");
            shopLvItemListBox.innerHTML ="";
            shopUseItemListBox.innerHTML = "";
            for(e of response.data){
                if(e.itemShopDto.item_category == '1'){
                    const shopLvItemListWrapper = document.querySelector("#shopLvItemListTemplete .shopLvItemListWrapper").cloneNode(true);
                    const itemLV = shopLvItemListWrapper.querySelector(".itemLV");
                    itemLV.innerText = "Lv."+e.itemCount;//바꿔줘야함 값 유저한테 가지고와서

                    const itemImg = shopLvItemListWrapper.querySelector(".itemImg");
                    itemImg.src = e.itemShopDto.item_img;
                    itemImg.setAttribute("onclick" , "loadItemInfo("+e.itemShopDto.item_pk+")");

                    const itemPrice = shopLvItemListWrapper.querySelector(".itemPrice");
                    const myLv = Math.pow(2, e.itemCount+1);
                    const myPrice = (e.itemShopDto.price * myLv)-e.itemShopDto.price;
                    
                    itemPrice.innerText = myPrice;
                    
                    itemPrice.setAttribute("onclick" , "openItemOrderBox("+e.itemShopDto.item_pk+")");
                    
                    shopLvItemListBox.appendChild(shopLvItemListWrapper);

                }else if(e.itemShopDto.item_category == '2'){
                    const shopUseItemListWrapper = document.querySelector("#shopUseItemListTemplete .shopUseItemListWrapper").cloneNode(true);
                    const haveItemCount = shopUseItemListWrapper.querySelector(".haveItemCount");
                    haveItemCount.innerText = e.itemCount+"개";//갯수 가지고와서 엮어줘야함.

                    const itemImg = shopUseItemListWrapper.querySelector(".itemImg");
                    itemImg.src = e.itemShopDto.item_img;
                    itemImg.setAttribute("onclick" , "loadItemInfo("+e.itemShopDto.item_pk+")");

                    const itemPrice = shopUseItemListWrapper.querySelector(".itemPrice");
                    itemPrice.innerText = e.itemShopDto.price;
                    itemPrice.setAttribute("onclick" , "openItemOrderBox("+e.itemShopDto.item_pk+")");

                    shopUseItemListBox.appendChild(shopUseItemListWrapper);
                    
                }
            }
        });
    }
    function loadItemInfo(item_pk){
        const url = "/mFollow/loadItemInfo?item_pk="+item_pk;
        fetch(url)
        .then(response => response.json())
        .then((response) =>{
              
            const itemExplainName = document.querySelector("#itemExplainName");
            itemExplainName.innerText = response.data.name;

            const itemExplainDetail = document.querySelector("#itemExplainDetail");
            itemExplainDetail.innerText = response.data.item_explain;
            itemExplainDetail.classList.add("me-2")

            const itemExplainImg = document.querySelector("#itemExplainImg");
            itemExplainImg.src = response.data.item_img;

        });
    }
    function openItemOrderBox(item_pk){
        orderItemInfo(item_pk);
        
        const itemOrderBox = document.querySelector("#itemOrderBox");
        itemOrderBox.classList.remove("d-none");                
    }
    function closeItemOrderBox(){
        const quantity = document.querySelector("#quantity");
        quantity.value = 1;

        const itemOrderBox = document.querySelector("#itemOrderBox");
        itemOrderBox.classList.add("d-none");                
    }
    
    function closeCoinOrderBox(){
        const coinOrderBox = document.querySelector("#coinOrderBox");
        coinOrderBox.classList.add("d-none");
    }
    function goAthorShop(){
        const itemShopButton = document.querySelector("#itemShopButton");
        itemShopButton.click();
        closeItemOrderBox();
        closeCoinOrderBox();
    }
    window.addEventListener("DOMContentLoaded", ()=>{
        showShopModal();
    })
            
        </script>
        <style>
             @font-face {
                font-family: 'omyu_pretty';
                src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
                font-weight: normal;
                font-style: normal;
            }
            

            body {
                font-family: 'omyu_pretty';
                overflow: hidden;
            }
     
.shackMove {
    z-index: 100;
    -webkit-animation: shackMove-move 1s ease-in-out infinite;
}
@-webkit-keyframes shackMove-move {
    50% { 
        -webkit-transform: rotate(-10deg); 
    }
}
.updownMove {
    z-index: 100;
    -webkit-animation: updownMove-move 1s ease-in-out infinite;
}
@-webkit-keyframes updownMove-move {
    50% { 
        -webkit-transform: translateY(-1em); 
    }
}
.leftRightMove {
    z-index: 100;
    -webkit-animation: leftRightMove-move 1s ease-in-out infinite;
}
@-webkit-keyframes leftRightMove-move {
    50% { 
        -webkit-transform: translateX(0.5em); 
    }
}

#steam-container {
    position: relative;
    top: 0;
    left: 0;
    width: 15em;
    height: 10em;
    background: url('/public/image/mFollow/ornerPeople.png') center/contain no-repeat;
    z-index: 2;
    margin-top: 2em;
}


@keyframes steamAnimation {
0% {
opacity: 0.8;
transform: translateY(0) scale(1);
}
100% {
opacity: 0;
transform: translateY(-3em) scale(2);
}
}

.steam {
position: absolute;
background: url('/public/image/mFollow/smoke2.png') center/cover no-repeat;
width: 2.5em;
height: 2.5em;
border-radius: 50%;
animation: steamAnimation 1.5s linear infinite;
transform-origin: center bottom;
z-index: 3;
}
.label{
background: url('/public/image/mFollow/label.jpg') center/cover no-repeat;
}
.wood{
background: url('/public/image/mFollow/wood.jpeg') center/cover no-repeat;
height: 45vh;

}
.pattern{
position: relative;
background: url('/public/image/mFollow/pattern.png') center/cover no-repeat;
z-index: 1;
height: 12em;
}
.food{
position: absolute;
background: url('/public/image/mFollow/food.png') center/cover no-repeat;
background-size: contain;
height: 12em;

z-index: 5;
}
.none-scrollbar {
scrollbar-width: none; /* Firefox */
}
.itemBox{
width: 180%;
}
.itemBox .col{
width: 20%;
}

.rotated_gradient_box {
filter: hue-rotate(340deg);
border: 0.2em solid transparent;
background-image: linear-gradient(#f7d180, #dea006), linear-gradient(to left,#d6c46c,#aa8936);
background-clip: content-box, border-box;
background-origin: border-box;
animation: huerotate 3s infinite linear;

}

@keyframes huerotate    {
0%{
    filter: hue-rotate(340deg);
}
50% {
    filter: hue-rotate(360deg);
}
}
#itemShopMainImg{
background: url('/public/image/mFollow/itemShop.png') center/cover no-repeat;
height: auto;
}
.itemBackground{
background: url('/public/image/mFollow/itmBackground1.png') center/cover no-repeat;
}
.sizeUP{
animation: zoom 3s infinite linear;
}
@keyframes zoom {
50%{
    opacity: 0.8;
    transform: scale(1.1);    
}
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
}


        </style>

    </head>
    <body>
    <div  class="container-fluid">
       <div class="row">
            <div class="col">
                <button onclick="showShopModal()">ddddd</button>
            </div>
       </div>
    </div>

    

    <div id="itemModal" class="modal fade" tabindex="-1" style="z-index: 3000;">
        <div class="modal-dialog modal-dialog-center">
          <div class="modal-content" style="background-color: transparent; border: none;">
            <div class="row mt-2 justify-content-end">
                <div class="col-auto rounded-pill bg-white" style="z-index: 100;">
                    <div class="row align-self-center">
                        <div class="col-auto">
                            <img class="img-fluid" src="/public/image/mFollow/coin.png" alt="" style="height: 1em;">
                        </div>
                        <div id="myCoin" class="col text-end">
                            
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="row">
                        <div class="col">

                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="modal-body py-1 position-relative" style="overflow-y: hidden; border: none;"> -->
                <div class="row mt-2">
                    <div class="col">
                        <div class="row  justify-content-center" style="height:em;">
                            <div class="col-auto" style="position: absolute; width: 12rem; height: 3rem; z-index: 99; top: 0.9em;">
                                <img class="img-fluid" th:src="@{/public/image/follow/banner.png}" style="width: 12rem; height: 3rem;">
                                <span class="text-white fw-bold" style="position: absolute; z-index: 100; font-size: 1em; left: 37%; top: 24%; color: #f3ecdd;">고기보석점</span>
                            </div>
                        </div>  
                    </div>
                </div>
                
                <div class="modal-body rounded" style="padding: 0.2em; background: #81461A; border: 2px solid rgba(55, 29, 13, 0.4);">
                    <div id="collectionModalHeight" class="rounded" style="padding: 0.5rem; padding-top: 0.7em; background: #E0C9A9; border: 0.2em solid rgba(241, 194, 92, 0.4);">
                        <div id="carouselExample" class="carousel slide">
                            <div class="carousel-inner">
                              <div class="carousel-item active" >
                                <div class="row" style="height: 3em; overflow: hidden;">
                                    <div class="col">
                                       <img class=" py-0 px-0 d-block" src="/public/image/mFollow/caenofi.png" alt="" style="position: absolute; z-index: 9999; height: 5em; width: 120%; left: -10%;">
                                    </div>  
                                </div>
                                <div class="row  mx-1 px-0 pattern rounded-top">
                                    <div class="col food"></div>
                                    <div class="col">
                                        <div  class="row justify-content-center">
                                            <div id="steam-container" class="col updownMove">
                                                <div class="steam" style="top: 60%; left: 25%;"></div>
                                                <div class="steam" style="top: 30%; left: 35%;"></div>
                                                <div class="steam" style="top: 50%; left: 48%;"></div>
                                                <div class="steam" style="top: 30%; left: 58%;"></div>
                                                <div class="steam" style="top: 60%; left: 70%;"></div>  
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="coinOrderBox" class="row rounded position-absolute px-auto mx-auto d-none" style="background-color: rgb(255, 255, 255); z-index: 9999; width: 80%; left: 10%; top: 20%; border: 0.2em solid rgb(175, 144, 50);">
                                      <div class="col">
                                          <div class="row">
                                              <div class="col text-end">
                                                  <i onclick="closeCoinOrderBox()" class="fa-solid fa-xmark"></i>
                                              </div>
                                          </div>
                                          <div class="row">
                                              <div class="col"></div>
                                              <div class="col-auto">
                                                  <img id="coinImg" class="img-fluid" src="" alt="" style="height: 6em;">
                                              </div>
                                              <div class="col"></div>
                                          </div>
                                          <div class="row mt-3">
                                              <div id="payProduct" class="col text-center fw-bold" style="font-size: 0.8em;">
                                                  
                                              </div>
                                          </div>
                                          <div class="row mt-2">
                                              <div class="col text-center" style="font-size: 0.9em;">
                                                  고기 보석으로 멍스토킹 콘텐츠를 구매할 수 있습니다. 구매한 콘텐츠는 환불이 불가능합니다.
                                              </div>
                                          </div>
                                          <div class="row mt-3 mb-2 justify-content-center">
                                              <div class="col"></div>
                                              <div id="goPayRequestPage" class="col px-0 text-center rotated_gradient_box" style="font-size: 0.8em;">
                                                  KRW<span id="payAmount"></span>
                                              </div>
                                              <div class="col"></div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="row mx-1 wood rounded-bottom">
                                      <div class="col">
                                          <div class="row " style="overflow-x: scroll;">
                                              <div class="col none-scrollbar" style="overflow-x: scroll; scrollbar-width: none;">
                                                  <div  id="coinProductListBox" class="row mt-2 py-0 px-0 " style="width: 700%;">
                                                            
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="row mx-2 mt-5">
                                              <div class="col-auto">
                                                  <div class="row">
                                                      <div onclick="closeShopModal()" class="col rounded-pill" style="background-color: rgb(232, 232, 235);">
                                                          돌아가기
                                                      </div>
                                                  </div>
                                              </div>
                                              <div onclick="goAthorShop()" class="col fs--5 text-white text-end align-self-center">
                                                    아이템 상점으로
                                              </div>
                                              <div onclick="goAthorShop()" class="col-auto fs-5 px-0 text-white align-self-center">
                                                <i class="fa-solid fa-arrow-right leftRightMove"></i>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                             </div>
        
        
                              <div class="carousel-item">
                                <div class="row" style="height: 3em; overflow: hidden;">
                                    <div class="col">
                                       <img class=" py-0 px-0 d-block" src="/public/image/mFollow/itemCanofi.png" alt="" style="position: absolute; z-index: 9999; height: 6em; width: 120%; left: -10%;">
                                    </div>  
                                </div>
                                <div  class="row position-relative" style="background-color: #f2e5a3; border-left: 0.1em solid rgb(0, 0, 0);">
                                    <div class="col">
                                        <div class="row mx-3">
                                            <div class="col mt-5 rounded none-scrollbar " style="overflow-x: scroll; height: 7em;">
                                                <div id="shopLvItemListBox" class="row" style="width: 130%;">
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 두번째 줄-->
                                        <div class="row mx-3 mt-3">
                                            <div class="col  rounded none-scrollbar " style="overflow-x: scroll; height: 7em;">
                                                <div  id="shopUseItemListBox" class="row" style="width: 130%;">
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mx-3 mt-3 rounded">
                                            <div class="col">
                                                <div class="row px-2 py-1 rounded" style="background-color: #f2e5a3; border: 0.2em solid rgb(158, 114, 2); height: 8em;">
                                                    <div class="col">
                                                        <div class="row justify-content-center">
                                                            <div id="itemExplainName" class="col-auto rounded-pill fw-bold" style="background-color: #f2e5a4; color: #917326; font-size: 0.8em;">
                                                                
                                                            </div>
                                                        </div>
                                                        <div class="row justify-content-center mt-1">
                                                            <div id="itemExplainDetail" class="col py-2 rounded" style="background-color: #835b0c; color: #eed9a5; font-size: 0.7em; height: 7em;">
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto rounded py-1 px-0 align-self-center" style="background-color: rgb(250, 237, 171);">
                                                        <img id="itemExplainImg" class="img-fluid sizeUP" alt="" style="height: 5em; max-width: 5em;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="itemOrderBox" class="row rounded position-absolute px-auto mx-auto d-none" style="background-color: rgb(255, 255, 255); z-index: 9999; width: 80%; left: 10%; top: 20%; border: 0.2em solid rgb(175, 144, 50);">
                                            <div class="col">
                                                <div class="row">
                                                    <div class="col text-end">
                                                        <i onclick="closeItemOrderBox()" class="fa-solid fa-xmark"></i>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="row">
                                                            <div class="col"></div>
                                                            <div class="col-auto">
                                                                <img id="orderItemImg" class="img-fluid" src="" alt="" style="height: 6em;">
                                                            </div>
                                                            <div class="col"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mt-3">
                                                    <div id="orderItemName" class="col text-center fw-bold ">
                                                        
                                                    </div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div id="orderItemExplain" class="col text-center " style="font-size: 0.9em;">
                                                        
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col text-end align-self-center">
                                                        <i id="downButton" onclick="downQuantity()" class="fa-solid fa-minus"></i>
                                                    </div>
                                                    <div class="col-3 px-0 pe-0">
                                                        <input id="quantity" class="form-control text-center py-1 px-1" type="number" value="1" disabled>
                                                    </div>
                                                    <div class="col text-start align-self-center">
                                                        <i id="upButton" onclick="upQuantity()" class="fa-solid fa-plus"></i>
                                                    </div>
                                                </div>
                                                <div class="row mt-3 mb-2 justify-content-center">
                                                    <div class="col"></div>
                                                    <div id="orderItembutton" class="col px-0 text-center rotated_gradient_box" style="font-size: 0.9em;">
                                                        <div class="row">
                                                            <div class="col-auto pe-0 ">
                                                                <img class="img-fluid" src="/public/image/mFollow/coin1.png" alt="" style="height: 2em;">
                                                            </div>
                                                            <div id="orderItemPrice" class="col-auto px-1 text-center align-self-center">
        
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mx-2 mt-3 mb-2">
                                        <div class="col-auto">
                                            <div class="row">
                                                <div onclick="closeShopModal()" class="col text-white rounded-pill" style="background-color: rgb(67, 168, 62);">
                                                    돌아가기
                                                </div>
                                            </div>
                                        </div>
                                        <div onclick="goAthorShop()" class="col text-end align-self-center" style="color: rgb(67, 168, 62);">
                                              고기 보석점으로
                                        </div>
                                        <div onclick="goAthorShop()" class="col-auto fs-5 pe-3 text-white align-self-center">
                                          <i class="fa-solid fa-arrow-right leftRightMove" style="color: rgb(67, 168, 62);"></i>
                                        </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                            <button  class="carousel-control-prev d-none" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button id="itemShopButton" class="carousel-control-next d-none" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>


      <div id="coinProductListTemplete" class="d-none">
            <div class="col px-0 coinProductListWrapper">
                <div class="row justify-content-center">
                    <div class="col-auto mt-2">
                        <img class="sizeUP coinProductImg" src="" alt="" style="height: 9em; width: 9em;">
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center text-white coinProductCount" style="font-size: 0.8em;">
                        
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <div class="row justify-content-center" >
                            <div class="col-auto mt-1 rounded-pill coinProductPrice" style="height: 1.5em; background-color: beige;">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      </div>
      
      <div id="shopLvItemListTemplete" class="d-none">
        <div  class="col itemBackground shopLvItemListWrapper">
            <div class="row mt-1">
                <div class="col text-center shackMove text-white itemLV" style="font-size: 0.8em;">
                    
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-auto align-self-center py-0">
                    <img class="img-fluid sizeUP itemImg" src="" alt="" style="height: 3.5em;">
                </div>
            </div>
            <div class="row mt-2 justify-content-center">
                <div class="col-auto rounded-pill" style="background-color: #f3e8d0;">
                    <div class="row">
                        <div class="col-auto pe-0 align-self-center">
                            <img class="img-fluid" src="/public/image/mFollow/coin.png" alt="" style="height: 0.9em;">
                        </div>
                        <div class="col-auto ps-1 rounded-pill itemPrice" style="font-size: 0.9em;">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      
      <div id="shopUseItemListTemplete" class="d-none">
        <div class="col itemBackground shopUseItemListWrapper">
            <div class="row mt-1">
                <div class="col text-center shackMove text-white haveItemCount" style="font-size: 0.8em;">
                    
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-auto ps-3 align-self-center py-0">
                    <img class=" img-fluid sizeUP itemImg" src="" alt="" style="height: 3.5em;">
                </div>
            </div>
            <div class="row mt-2 justify-content-center">
                <div class="col-auto px-1 rounded-pill" style="background-color: #f3e8d0;">
                    <div class="row">
                        <div class="col-auto pe-0 align-self-center">
                            <img class="img-fluid" src="/public/image/mFollow/coin.png" alt="" style="height: 0.9em;">
                        </div>
                        <div class="col-auto ps-1 rounded-pill itemPrice align-self-center" style="font-size: 0.9em;">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>      

                         
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>
</html>