<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <script src="https://kit.fontawesome.com/fdd6196f61.js" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

        <script th:inline="javascript">
            let user_pk = null;
            function getUrlKey() {
                const urlParams = new URLSearchParams(location.search);
                const key = urlParams.get("user_pk");
                user_pk = key;
            }

            let profile_info_Dto = null;
            
            function loadMyProfileInfo(){
                const url = "./loadMyProfileInfo";

                fetch(url, {
                     method: "post",
                     headers: {
                        "Content-Type": "application/x-www-form-urlencoded"
                    },
                     body: "user_pk="+user_pk
            	})
                .then(response => response.json())
                .then((response) =>{

                    profile_info_Dto = response.data.profileInfoDto;

                    const profilePhoto = document.querySelector("#profilePhoto");
                    profilePhoto.setAttribute("src", response.data.profileInfoDto.profile_photo);

                    storyPhotoUpload();
                })
            }
            function showFileUploadModal(){
                const fileUploadModal = bootstrap.Modal.getOrCreateInstance("#fileUploadModal");
                fileUploadModal.show();
            }
            function hideFileUploadModal(){
                const fileUploadModal = bootstrap.Modal.getOrCreateInstance("#fileUploadModal");
                fileUploadModal.hide();
            }

            // 파일 업로드 감지 이베트
            function storyPhotoUpload(){
                const fileUpload = document.querySelector("#fileUpload");
                fileUpload.click();
                const story_img = document.getElementById("story_img");
            
                const handleFiles = (e) => {
                    hideFileUploadModal();
                    const selectedFile = [...fileUpload.files];
                    const fileReader = new FileReader();
                        if (e.target.files.length === 0) {  
                            return   
                        }else{
                            fileReader.readAsDataURL(selectedFile[0]);
                        
                            
                            fileReader.onload = function () {
                                story_img.style.backgroundImage = "url("+fileReader.result+")";
                            }  
                        }; 
                    };
                fileUpload.addEventListener("change", handleFiles);
            }
            function insertStory(){
                const story_img = document.querySelector("#story_img");
                
                const storyTextBox = document.querySelector("#storyTextBox");
                const X = parseInt(storyTextBox.style.left);
                const Y = parseInt(storyTextBox.style.top);
                const {width: story_imgWidth, height: story_imgHeight} = story_img.getBoundingClientRect();
                
                const x_coordinates = X/story_imgWidth*100;
                const y_coordinates = Y/story_imgHeight*100;

                const fileUpload = document.querySelector("#fileUpload");
                const imageFiles = fileUpload.files[0];
                const formData = new FormData();
                
                const xhr = new XMLHttpRequest();
                xhr.open('POST', './insertStory', true);
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        console.log(xhr.responseText);
                    }
                };
                const profile_info_pk = profile_info_Dto.profile_info_pk;
                const story_text = document.querySelector("#story_textAndColor").innerText;
                const text_color = document.querySelector("#story_textAndColor").style.color;
                const background_color = document.querySelector("#story_textAndColor").style.backgroundColor;
                console.log(background_color);
                
                formData.append("imageFiles", imageFiles);
                formData.append("story_text", story_text);
                formData.append("x_coordinates", x_coordinates);
                formData.append("y_coordinates", y_coordinates);
                formData.append("profile_info_pk", profile_info_pk);
                formData.append("text_color", text_color);
                formData.append("background_color", background_color);

                xhr.send(formData);

               location.href='./profilePage?user_pk='+user_pk;
            }
          

            function showTextBox() {
                const textButton = bootstrap.Modal.getOrCreateInstance("#textButton");
                textButton.show();
                const story_text = document.querySelector("#story_text");
                story_text.focus();
                const storyControllBar = document.querySelector("#storyControllBar");
                storyControllBar.classList.add("d-none");

                const colorPicker = document.querySelector("#colorPicker");
                const color = colorPicker.value;
                story_text.style.color = color;

                const storyTextBox = document.querySelector("#storyTextBox");
                storyTextBox.classList.add("d-none")

     	    }
            function colorPickerChange(){
                const colorPicker = document.querySelector("#colorPicker");
                const color = colorPicker.value;

                const story_text = document.querySelector("#story_text");
                story_text.style.color= color;
            
            }

            function makeTextBox(){
                
                
                const colorPicker = document.querySelector("#colorPicker");
                const color = colorPicker.value;
                

                const storyControllBar = document.querySelector("#storyControllBar");
                storyControllBar.classList.remove("d-none");

                const textButton = bootstrap.Modal.getOrCreateInstance("#textButton");
                textButton.hide();

                const story_text = document.querySelector("#story_text");
                const storyTextBox = document.querySelector("#storyTextBox");

                const story_textAndColor = document.querySelector("#story_textAndColor");
                story_textAndColor.style.color = color;
                story_textAndColor.innerText = "";
                story_textAndColor.innerText = story_text.value;

                storyTextBox.classList.remove("d-none");

            }
            function moveTextBox(){
                const story_img = document.querySelector("#story_img");
                
                const storyTextBox = document.querySelector("#storyTextBox");
                
                const {width: story_imgWidth, height: story_imgHeight} = story_img.getBoundingClientRect();
                const {width: storyTextBoxWidth, height: storyTextBoxHeight} = storyTextBox.getBoundingClientRect();
                
                let isDragging = null;
                let originLeft = null;
                let originTop = null;
                let originX = null;
                let originY = null;

                storyTextBox.addEventListener("touchstart" , (e)=>{
                    console.log("실행")
                    isDragging = true;
                    var startId = e.targetTouches[0].target.id;
                    
                

                    var startX = e.changedTouches[0].clientX;
                    var startY = e.changedTouches[0].clientY;
                
                    
                    originX = startX;
                    originY = startY;
                    originLeft = storyTextBox.offsetLeft;
                    originTop = storyTextBox.offsetTop;
                });

                document.addEventListener("touchend",(e)=>{
                    console.log("마우스 업")
                    storyTextBox.classList.remove("top-50","start-50", "translate-middle");
                    isDragging = false;
                });

                document.addEventListener("touchmove", (e)=>{
                    if(isDragging){
                        
                        
                        var moveId = e.targetTouches[0].target.id;

                        var moveX = e.changedTouches[0].clientX;
                        var moveY = e.changedTouches[0].clientY;
                        

                        const diffX = moveX - originX;
                        const diffY = moveY - originY;
                        const endOfXPoint = story_imgWidth - storyTextBoxWidth;
                        const endOfYPoint = story_imgHeight - storyTextBoxHeight;
                       
                       

                        storyTextBox.setAttribute("style", "left:"+Math.min(Math.max(0, originLeft+diffX), endOfXPoint)+"px;top:"+Math.min(Math.max(0, originTop+diffY), endOfYPoint)+"px;");

                        // const diffX = e.clientX - originX;
                        // const diffY = e.clientY - originY;
                        // const endOfXPoint = story_imgWidth - storyTextBoxWidth;
                        // const endOfYPoint = story_imgHeight - storyTextBoxHeight;
                        
                        // storyTextBox.setAttribute("style", "left:"+Math.min(Math.max(0, originLeft+diffX), endOfXPoint)+"px;top:"+Math.min(Math.max(0, originTop+diffY), endOfYPoint)+"px;");  
                    }
                });

            }
            function backGroundColorWhite(){
                const story_textAndColor = document.querySelector("#story_textAndColor");
                story_textAndColor.style.backgroundColor = "white";

                const backgroundColorButton = document.querySelector("#backgroundColorButton");
                backgroundColorButton.setAttribute("onclick","backGroundColorBlack()")
            }
            function backGroundColorBlack(){
                const story_textAndColor = document.querySelector("#story_textAndColor");
                story_textAndColor.style.backgroundColor = "black";

                const backgroundColorButton = document.querySelector("#backgroundColorButton");
                backgroundColorButton.setAttribute("onclick","backGroundColorGray()")
            }
            function backGroundColorGray(){
                const story_textAndColor = document.querySelector("#story_textAndColor");
                story_textAndColor.style.backgroundColor = "grey";

                const backgroundColorButton = document.querySelector("#backgroundColorButton");
                backgroundColorButton.setAttribute("onclick","backGroundColorNone()")
            }
            function backGroundColorNone(){
                const story_textAndColor = document.querySelector("#story_textAndColor");
                story_textAndColor.style.backgroundColor = "";

                const backgroundColorButton = document.querySelector("#backgroundColorButton");
                backgroundColorButton.setAttribute("onclick","backGroundColorWhite()")
            }
          

            function showColorPicker(){
                const colorPicker = document.querySelector("#colorPicker");
                colorPicker.click();
            }
            window.addEventListener("DOMContentLoaded", () =>{
                getUrlKey();
                loadMyProfileInfo();
                showFileUploadModal();
            });

        </script>
        <style>

            @font-face {
                font-family: 'omyu_pretty';
                src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
                font-weight: normal;
                font-style: normal;
            }

            body {
                font-family: 'omyu_pretty';
                overflow: hidden;
            }
            #d-none-scroll::-webkit-scrollbar {
                display: none;
            }
            .spotLight{
                filter: brightness(90%);
           }
            
        </style>
        
    </head>

    <body>
        <div class="container-fluid bg-black" style="width: 100%; height: 100vh;">
            <input id="fileUpload" name="imageFiles" class="d-none" type="file" accept="image/*">
            <div id="story_img" class="row position-relative px-1 rounded" style="height: 35em; background-size: 100%; background-repeat: no-repeat; background-position: center; background-color: rgb(49, 49, 49); top: 1rem;">
                <div id="storyControllBar" class="col px-0"> 
                    <div class="row" style="width: 100%;">
                        <div onclick=window.history.back(); class="col-auto ms-3 rounded-circle text-white">
                            <i class="fa-solid fa-xmark pt-2 fs-5"></i>
                        </div>
                        <div class="col-5"></div>
                        <div id="backgroundColorButton" onclick="backGroundColorWhite()" class="col-auto ms-2 rounded-circle text-white text-end" >
                            <i class="fa-solid fa-fill-drip pt-2 fs-5"></i>
                        </div>
                        <div onclick=showTextBox(); class="col-auto ms-1 rounded-circle text-white text-end">
                            <i class="fa-sharp fa-solid fa-a pt-2 fs-5"></i>
                        </div>
                        <div onclick=storyPhotoUpload(); class="col-auto ms-1 rounded-circle text-white text-end">
                            <i class="fa-solid fa-camera-rotate pt-2 fs-5"></i>
                        </div>
                    </div>   
                </div>
                <div id="storyTextBox" onmousedown="moveTextBox()" class="col-auto position-absolute" style="cursor: pointer; top: 50%; left: 50%;">
                    <div id="story_textAndColor" class="px-2">
                        
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col px-3">
                    <div class="row rounded-pill " style="background-color: rgb(112, 108, 108);">
                        <div class="col-auto py-1">
                            <img id="profilePhoto" class="rounded-circle img-fluid border border-2 border-white"  alt="" style="aspect-ratio: 1/1; height: 1.8em;">
                        </div>
                        <div class="col align-self-center text-white">
                            내 스토리
                        </div>
                    </div>
                </div>
                <div class="col pe-3">
                    <div class="row  rounded-pill" style="background-color: rgb(112, 108, 108);">
                        <div class="col-auto py-1">
                            <img id="profilePhoto" class="rounded-circle img-fluid border border-2 border-white"  alt="" style="aspect-ratio: 1/1; height: 1.8em;">
                        </div>
                        <div class="col align-self-center text-white">
                            공개범위
                        </div>
                    </div>
                </div>
                <div onclick="insertStory()" class="col-auto me-2 rounded-circle align-self-center py-1" style="background-color: rgb(225, 222, 222); height: 2em; aspect-ratio: 1/1;">
                    <div class="row">
                        <div  class="col ps-2">
                            <i class="fa-sharp fa-solid fa-arrow-right fs-5"></i>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
        <div id="textButton" class="modal" tabindex="-1">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content" style="background-color: transparent; border: transparent;">
                    <div id="textControllBar" class="row fs-4">
                        <div class="col-5"></div>
                        <div class="col-auto text-white text-center">
                            <i class="fa-sharp fa-solid fa-bars" style="padding-top: 1.5vw;"></i>
                        </div>
                        <div class="col-auto text-center">
                            <input id="colorPicker" onchange="colorPickerChange()" type="color" class="form-control form-control-color d-none" value="#fafafa">
                            <img onclick="showColorPicker()" class="img-fluid rounded-circle border border-white border-2" src="/public/image/mstar/colorpicker.png" alt="" height="" style="height: 2em;">
                        </div>
                        <div onclick="makeTextBox()" class="col text-white text-end">
                            완료
                        </div>
                    </div>
                  <div class="modal-body">
                    <div  id="textColor" class="col-auto mt-5">
                        <input id="story_text" class="form-control" type="text" style="border: 1px solid rgb(20, 99, 247); background-color: transparent; box-sizing: border-box;">
                    </div>
                  </div>
              </div>
            </div>
        </div>
        <div id="fileUploadModal" class="modal" tabindex="-1">
            <div class="modal-dialog modal-fullscreen" >
                <div class="modal-content" style="background-color: transparent;">
                    <div class="modal-body">
                        <div class="row rounded bg-white mt-5" style="height: 8em;">
                            <div class="col mt-2">
                                <div class="row mt-4 text-center ">
                                    <div class="col">
                                        스토리 등록을 위해서는 이미지를 등록해 주셔야합니다.
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col text-end">
                                        <button onclick="window.history.back()" type="button" class="btn btn-secondary py-0">돌아가기</button>
                                        <button onclick="storyPhotoUpload()" type="button" class="btn btn-primary py-0">파일 찾기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>

</html>